<div class="sixteen columns">
  <div class="section clearfix productWrapper">

    <div id="product-image" class="eight columns alpha">
      <!-- product images -->
      <div class="productImageCarousel">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
      <div class="productImageControlsWrapper">
        <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
          <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>

      <div class="thumbnails product_image_col productImageCarouselThumbnails">
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
    </div>

    <div class="eight columns omega">
      <span class='title-mini' style="display:inline-block;">Mixed Hooks - Special Savings</span>
      {%include 'product-form-alpha-hook-set'%}
      <hr/>
      <div class="form-bylines">
        <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
        <p class="alert-byline"></p>
          <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
      </div>
    </div>
  </div>
</div>
<!--USPs -->
<div class="sixteen columns description">
  
  <div class="section clearfix productFeatured">
    <span>
        <img alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/dolla-dolla-USP.jpg?v=1606855420"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SIMPLE SAVINGS</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">The savings just keep getting sweeter the more hooks you grab! </p>
    </span>
    <span>
        <img alt="hand love illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">EASY GIFTGIVING</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Go "One-Click" for a shuffled selection of colors in the most popular sizes, or choose "Customize" to curate a set of your own. </p>
    </span>
    <span>
        <img alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/five-odysseys-circled-USP.jpg?v=1606855420"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">HOOKS YOU LOVE – BUNDLED</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Now it's easier than ever to make sure you – or a lucky someone – have got hand-healthy ergonomics in every size. </p>
    </span>
  </div>
</div>
      <hr/>
  <div class="sixteen columns">
    <div class="section clearfix productFeatured">
      <div class="eight columns alpha">
        <h1 style="margin-bottom:35px;letter-spacing:2px;font-weight:bold;">About Alpha</h1>
      
        <h3>Our Signature Hook</h3>
          <p> This is the hook that started it all! Founder Harrison Richards began making these hooks from his parents' garage. To this day, each Alpha Series hook is made one-by-one, by hand, and is completely one of a kind. There will be no other hook with your hook's unique combination of grain, wood, size, and shape - which we leave up to the artists at the moment of creation.
         </p><h3>8 Different Woods</h3>
          <p>Sustainably sourced, best selected for their beauty &amp; durability. Tulipwood, Cocobolo, Blackwood, Purpleheart, Bloodwood, Olivewood, Rosewood, and Bocote offer every naturally existing wood color in a stunning collection of grain and figure. </p>
          <br>
        <h3 style="font-weight:bold;border:none;">100% satisfaction guarantee</h3>
      </div> 
      
      <div class="eight columns omega">
         <img id="product-rotation" src="https://cdn.shopify.com/s/files/1/0166/0254/files/blackwood.jpg?v=1633454287"/>
      <script type="text/javascript">
          $(function(){
            //set frames
            var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/blackwood.jpg?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/bloodwood.jpg?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/bocote.jpg?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-lime-green-brianak-square_-_3.jpeg?v=1591113627",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/olivewood.png?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/purpleheart.jpg?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/rosewood.jpg?v=1633454287",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-purple-nickel1.jpg?9943"
                             ];
            //set starting locations
            var currentFrame = 1;
            //on load update image and increase current every 100ms
            window.setInterval(function(){        
              $("#product-rotation").attr("src",frames[currentFrame]);
              currentFrame = (currentFrame + 1) % frames.length;
            }, 2000);
          });
        </script>
      </div>
    </div>
  </div>
  <hr/>

{%include 'alpha-set-scripts'%}
{{ 'hookSets.css' | asset_url | stylesheet_tag }}
