<div class="sidebar-wrapper">
   <h3 style="text-align:center;">Fae Scarf</h3>
    <a class="oink-link" href="/blogs/knitting-patterns-and-kals" >
      <img  loading="lazy" class="sidebar-image-lg" src="https://cdn.shopify.com/s/files/1/0166/0254/files/2010_KAL_Sidebar.png?v=1602183277" />
    </a>
  
  <h4 style="text-align:center;border-bottom:none;font-size:16px;margin-bottom:0px;padding-bottom:2px;">Our Designer Host:</h4>
  <h3 style="text-align:center;">Lee Sartori</h3>
  <a class="oink-link" href="https://www.cococrochetlee.com//" target="_blank">
      <img loading="lazy" class="creation-logo" src="https://cdn.shopify.com/s/files/1/0166/0254/files/Lee_headshot.jpg?v=1602007587"/>
  </a>
  

  
  
  <h3 style="text-align:center;">Add this on Ravelry!</h3>
    <a class="oink-link" href="https://www.ravelry.com/patterns/library/fae-scarf" target="_blank">
      <img loading="lazy" class="sidebar-image-sm" src="https://cdn.shopify.com/s/files/1/0166/0254/files/ravelry-logo.png?15842434012246431034" />
    </a>
  <h3 style="text-align:center;">October 2020 KAL Schedule</h3>
  <p style="text-align:left;"> <strong>Supplies List:</strong> October 8th </p>
   <p style="text-align:left;"> <strong>Part 1:</strong> October 15th </p>
  <p style="text-align:left;"> <strong>Part 2:</strong> October 22nd</p>

 
  <hr />
  
  </div>