<div class="sidebar-wrapper">
   
     <h3 style="text-align:center;">Nutcracker Bears</h3>
  <a class="sidebar-link" href="/blogs/amigurumi-crochet-tutorials" >
      <img loading="lazy" class="sidebar-image-lg" src="https://cdn.shopify.com/s/files/1/0166/0254/files/nutcracker-bears-8_6e6d3a19-f136-4ebe-9f59-bfb77b166832.jpg?v=1636648320" />
    </a>
  
<h4 style="text-align:center;border-bottom:none;font-size:16px;margin-bottom:0px;padding-bottom:2px;">Our Designer Host:</h4>
  <h3 style="text-align:center;">Jackie Laing</h3>
  <a class="sidebar-link"href="http://www.amidorablecrochet.ca/" target="_blank">
      <img loading="lazy" class="sidebar-image-sm" src="https://cdn.shopify.com/s/files/1/0166/0254/files/Jackie_Laing_2105.jpg?v=1620278148"/>
  </a>

 
  <hr />
                             
   <h3 style="text-align:center;">Add this on Ravelry!</h3>
    <a class="oink-link" href="https://www.ravelry.com/patterns/library/nutcracker-bear" target="_blank">
      <img loading="lazy" class="sidebar-image-sm" src="https://cdn.shopify.com/s/files/1/0166/0254/files/ravelry-logo.png?15842434012246431034" />
  </a> 
  
   <h3 style="text-align:center;">New Colors</h3>
      <h2 style="text-align:center;">Whims Merino</h2>
    <a id="collector-promo" class="oink-link" href="/products/crochet-yarn-superwash-merino-nylon" target="_blank">
        <img loading="lazy" class="sidebar-image-lg" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-worsted-updated-colors-grid_d385a651-b1a5-4d32-98d7-8addd05dedce.jpeg?v=1609859174"/>
    </a>
  
  <h3 style="text-align: center;">Get your hooks for this pattern!</h3>
  
  <table class="sidebar-hook-preview">
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_odyssey.jpg?10483313835409931072"/></td>
      <td><span><a href="/products/furls-odyssey">Odyssey</a><span class="price"> - $30</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/candy-shop-sidebar-variant.jpeg?v=1610142515"/></td>
      <td><span><a href="/products/candy-shop-crochet-hooks-sizes-f-i">Candy Shop</a><span class="price"> - $49</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_alpha-series.jpg?10483313835409931072"/></td>
      <td><span><a href="/products/alpha-series-wood-crochet-hook">Alpha Series</a><span class="price"> - $79</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_limited-edition.jpg?10483313835409931072"/></td>
      <td><span><a href="/collections/limited-editions">Limited Edition</a><span class="price"> - $99</span></span></td>
    </tr>
  </table>
  

</div>