<div class="sixteen columns">
  <div class="section clearfix">
    <h2>WELCOME to the Furls Blog Hop 2021</h2>

    <p>In 2020 Furls hosted their <a href="https://furlscrochet.com/blogs/crochet-tutorials/furls-blog-hop-2020-52-free-crochet-and-knit-patterns">very first Blog Hop</a>. We brought you 52 weeks of patterns in crochet, Tunisian and knit. We are bringing it back this year with the Furls Blog Hop 2021. </p>
    
    <p>Every week we will feature a different fiber artist who will share with you a free pattern featuring Furls <a href="https://furlscrochet.com/products/crochet-yarn-superwash-merino-nylon">Whims Merino Yarn</a>, available in either DK or Worsted weights, and Furls <a href="https://furlscrochet.com/products/acrylic-crochet-yarn">Wander Acrylic</a> Yarn.</p>
   
    <h2 style="border:none;"><strong>This Week</strong></h2>
    
<!-- START of "This Week" section TO GO LIVE ON SUNDAY -->    
<div class="blogContent" data-expiry="12/19/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://brianakdesigns.com/easy-crochet-shawl/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week50-square.jpg?v=1639077261" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Fifty</p>
        <p class="subblogHeader">Quick and Easy Wander Crochet Shawl</p>
        <p class="author">by <a href="https://brianakdesigns.com/easy-crochet-shawl/">Briana K Designs</a></p>
        <p class="details">With a unique stitch repeat and gorgeous colors, this will quickly become a favorite. The Wander Crochet Wrap is perfect for the beginner, as well as the experienced crocheter. Not only does this pattern have written instructions and charts, it features a video tutorial as well.</p>
        <p class="getpattern"><a href="https://brianakdesigns.com/easy-crochet-shawl/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of "This Week" section TO GO LIVE ON SUNDAY -->
    
<!-- START of "This Week" section TO EXPIRE SUNDAY -->    
<div class="blogContent" data-expiry="12/19/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://brianakdesigns.com/easy-crochet-shawl/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week50-square.jpg?v=1639077261" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Fifty</p>
        <p class="subblogHeader">Quick and Easy Wander Crochet Shawl</p>
        <p class="author">by <a href="https://brianakdesigns.com/easy-crochet-shawl/">Briana K Designs</a></p>
        <p class="details">With a unique stitch repeat and gorgeous colors, this will quickly become a favorite. The Wander Crochet Wrap is perfect for the beginner, as well as the experienced crocheter. Not only does this pattern have written instructions and charts, it features a video tutorial as well.</p>
        <p class="getpattern"><a href="https://brianakdesigns.com/easy-crochet-shawl/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of "This Week" section TO EXPIRE SUNDAY -->
<!-- COPY the expiring section above and paste under the h2 element below: edit data, set to start on the upcoming Sunday -->
    
<!-- LINKS to relevant hook and yarn -->
<!-- Always keep this section above the h2 element for Past Blog Hop Designs and below all the "This Week" sections -->
      <div class="sixteen columns landing-container">
        <div class="eight columns alpha landing-subblogHeader"> 
          <a class="browse" href="/collections/odyssey-nickel-crochet-hooks?utm_source=BlogHopCurrentWeek">Get This Week's Hook</a>
        </div>
        <div class="eight columns alpha landing-subblogHeader"> 
          <a class="browse" href="/products/acrylic-crochet-yarn?utm_source=BlogHopCurrentWeek">Get This Week's Yarn</a>
        </div>
      </div>
<!-- END of LINKS to relevant hook and yarn -->
    
<!-- START of Blog Hop Week 50 section -->     
    <div class="blogContent" data-start="12/19/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://brianakdesigns.com/easy-crochet-shawl/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week50-square.jpg?v=1639077261" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Fifty</p>
        <p class="subblogHeader">Quick and Easy Wander Crochet Shawl</p>
        <p class="author">by <a href="https://brianakdesigns.com/easy-crochet-shawl/">Briana K Designs</a></p>
        <p class="details">With a unique stitch repeat and gorgeous colors, this will quickly become a favorite. The Wander Crochet Wrap is perfect for the beginner, as well as the experienced crocheter. Not only does this pattern have written instructions and charts, it features a video tutorial as well.</p>
        <p class="getpattern"><a href="https://brianakdesigns.com/easy-crochet-shawl/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 50 section -->     
    
<!-- START of Blog Hop Week 48 section -->       
    <div class="blogContent" data-start="12/12/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.crochetclasseswithkay.com/blog#/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week48-square.jpg?v=1637761020" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Eight</p>
        <p class="subblogHeader">K's Cabled Warmers Winter Accessory Set</p>
        <p class="author">by <a href="https://www.crochetclasseswithkay.com/blog#/">Crochet with Kay</a></p>
        <p class="details">Beautiful Cables Hat and Wristers winter accesories set made love and Furls Wander Acrylic yarn for soft, cozy and warm winter wear!</p>
        <p class="getpattern"><a href="https://www.crochetclasseswithkay.com/blog#/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 48 section --> 
    
<!-- START of Blog Hop Week 47 section -->     
    <div class="blogContent" data-start="11/21/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://sunflowercottagecrochet.com/stag-throw-pillow-free-pattern/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week47-square.jpg?v=1637251079" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Seven</p>
        <p class="subblogHeader">Stag Throw Pillow</p>
        <p class="author">by <a href="https://sunflowercottagecrochet.com/stag-throw-pillow-free-pattern/">Sunflower Cottage Crochet</a></p>
        <p class="details">This gorgeous throw pillow will make a great addition to your home this holiday season, or a great gift idea! I often have problems finding patterns outside of hats and scarves for men that are appropriate for gifting, so I decided to come up with a collection around the ‘stag’ theme this year as stag’s never go out of fashion or look out of place and appeal to both men and women.</p>
        <p class="getpattern"><a href="https://sunflowercottagecrochet.com/stag-throw-pillow-free-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 47 section --> 
    
<!-- START of Blog Hop Week 46 section --> 
    <div class="blogContent" data-start="11/14/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://nedandmimi.com/maisie-mosaic-crochet-baby-blanket-free-pattern/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week46-square_1.jpg?v=1636478636" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Six</p>
        <p class="subblogHeader">Maisie Mosaic Crochet Baby Blanket</p>
        <p class="author">by <a href="https://nedandmimi.com/maisie-mosaic-crochet-baby-blanket-free-pattern/">Ned & Mimi</a></p>
        <p class="details">The Maisie Blanket is a unique mosaic crochet baby blanket with a gorgeous texture. Worked in #4/worsted weight yarn, the finished blanket measures approx. 29" x 32" - perfect for a stroller!</p>
        <p class="getpattern"><a href="https://nedandmimi.com/maisie-mosaic-crochet-baby-blanket-free-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 46 section --> 
    
<!-- START of Blog Hop Week 45 section -->       
<h2><strong>Scroll Down For Past Blog Hop Designs</strong></h2>
    <div class="blogContent" data-start="11/07/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.cococrochetlee.com/post/tilda-angel-amigurumi-the-furls-blog-hop/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week46-square.png?v=1636240920" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Five</p>
        <p class="subblogHeader">Tilda Angel Amigurumi</p>
        <p class="author">by <a href="https://www.cococrochetlee.com/post/tilda-angel-amigurumi-the-furls-blog-hop/">CoCo Crochet Lee</a></p>
        <p class="details">The Tilda Angel is an adorable amigurumi pattern to create a doll ready to snuggle! From the bright halo topping Tilda’s head, down to her beautiful shell-stitched skirt, this crochet project is sure to delight.</p>
        <p class="getpattern"><a href="https://www.cococrochetlee.com/post/tilda-angel-amigurumi-the-furls-blog-hop/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 45 section -->    
    
<!-- START of Blog Hop Week 44 section -->   
    <div class="blogContent" data-start="10/31/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://knottiehooks.com/jellybean-jumper/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week44-square.jpg?v=1635280957" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Four</p>
        <p class="subblogHeader">Jellybean Jumper</p>
        <p class="author">by <a href="https://knottiehooks.com/jellybean-jumper/">Knottie Hooks</a></p>
        <p class="details">The Jellybean Jumper is the perfect sweater jumper for any little girl. Worked in DK weight yarn and in the round the jumper is worked in one piece.  Hop on over to my blog for the 2y size for free. See how easy it is to crochet!</p>
        <p class="getpattern"><a href="https://knottiehooks.com/jellybean-jumper/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 44 section -->      
    
<!-- START of Blog Hop Week 43 section -->   
    <div class="blogContent" data-start="10/31/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://stitchfastdiewarm.com/2021/10/24/tunisian-braid-stitch-scarf-free-tunisian-crochet-pattern/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week43-square.jpg?v=1634681699" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Three</p>
        <p class="subblogHeader">Tunisian Braid Stitch Scarf</p>
        <p class="author">by <a href="https://stitchfastdiewarm.com/2021/10/24/tunisian-braid-stitch-scarf-free-tunisian-crochet-pattern/">Stitch Fast, Die Warm</a></p>
        <p class="details">A thick Tunisian scarf with an eye-popping color changing pattern!</p>
        <p class="getpattern"><a href="https://stitchfastdiewarm.com/2021/10/24/tunisian-braid-stitch-scarf-free-tunisian-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>    
<!-- END of Blog Hop Week 43 section -->      
    
<!-- START of Blog Hop Week 42 section -->   
<div class="blogContent" data-start="10/24/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.coffeeandcrocheting.com/blog/free-pocket-shawl-crochet-pattern">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week39-square_ec0379c8-ec49-420a-a5e0-5fc8620c9eb3.jpg?v=1634222803" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-Two</p>
        <p class="subblogHeader">Morning Mist Shrug</p>
        <p class="author">by <a href="https://www.coffeeandcrocheting.com/blog/free-pocket-shawl-crochet-pattern">Coffee & Crocheting</a></p>
        <p class="details">With the widely popular crochet pocket shawl as inspiration; the Morning Mist Shrug is an oversized vest/shrug/cardigan that covers the back and front and tied together with a belt. The invisible pockets make for a great place to carry small items and rest your hands.</p>
        <p class="getpattern"><a href="https://www.coffeeandcrocheting.com/blog/free-pocket-shawl-crochet-pattern" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>    
<!-- END of Blog Hop Week 42 section -->    
    
<!-- START of Blog Hop Week 41 section --> 
    <div class="blogContent" data-start="10/17/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://kickincrochet.com/tessa-skirt-crochet-pattern/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week39-square.png?v=1633618395" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty-One</p>
        <p class="subblogHeader">Tessa Skirt</p>
        <p class="author">by <a href="https://kickincrochet.com/tessa-skirt-crochet-pattern/">Kickin Crochet</a></p>
        <p class="details">The Tessa skirt puts a new spin on a classic granny square with puff stitches and join-as-you go technique. Available in sizes ranging from girls 2 up to women's 5X, and with an elastic waistband for great fit, this skirt is sure to become a Fall wardrobe favorite.</p>
        <p class="getpattern"><a href="https://kickincrochet.com/tessa-skirt-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 41 section -->
    
<!-- START of Blog Hop Week 40 section --> 
<div class="blogContent" data-start="10/10/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.withalexofficialblog.com/2021/10/tunisian-crochet-cable-scarf.html">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/bloghop21-week40_35f98d8d-cb1c-4b7f-be56-4773312c5845.jpg?v=1632953577" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Forty</p>
        <p class="subblogHeader">Twisted Twin Cable Scarf</p>
        <p class="author">by <a href="https://www.withalexofficialblog.com/2021/10/tunisian-crochet-cable-scarf.html">With Alex</a></p>
        <p class="details">The Twisted Twin Cable Scarf has 2 beautiful cables that twist along the length of the scarf. Made with Furls Wander Acrylic yarn, this scarf is beautiful and extremely cozy.</p>
        <p class="getpattern"><a href="https://www.withalexofficialblog.com/2021/10/tunisian-crochet-cable-scarf.html" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 40 section -->
    
<!-- START of Blog Hop Week 39 section -->  
<div class="blogContent" data-start="10/03/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.rebekahhaas.com/blog/pebbles-beanie-free-crochet-pattern">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-week39-greyborder.jpg?v=1632754556" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Thirty-Nine</p>
        <p class="subblogHeader">Pebbles Beanie</p>
        <p class="author">by <a href="https://www.rebekahhaas.com/blog/pebbles-beanie-free-crochet-pattern">Rebekah Haas Crochet</a></p>
        <p class="details">Create this cute and fun beanie!</p>
        <p class="getpattern"><a href="https://www.rebekahhaas.com/blog/pebbles-beanie-free-crochet-pattern" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>    
<!-- END of Blog Hop Week 39 section -->
    
<!-- START of Blog Hop Week 36 section -->    
    <div class="blogContent" data-start="09/26/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://theloopylamb.com/2021/09/19/free-pattern-for-a-crochet-scarf-the-brave-at-heart-crochet-scarf/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-week38-squares.jpg?v=1632754691" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Thirty-Eight</p>
        <p class="subblogHeader">Brave At Heart Scarf</p>
        <p class="author">by <a href="https://theloopylamb.com/2021/09/19/free-pattern-for-a-crochet-scarf-the-brave-at-heart-crochet-scarf/">The Loopy Lamb</a></p>
        <p class="details">This pattern is as fun to make as it is to wear! Grab the colors of your choice and make one for everyone you know!</p>
        <p class="getpattern"><a href="https://theloopylamb.com/2021/09/19/free-pattern-for-a-crochet-scarf-the-brave-at-heart-crochet-scarf/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 36 section -->
    
<!-- START of Blog Hop Week 35 section -->    
    <div class="blogContent" data-start="09/19/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://www.classyladyyarnworks.com/free-crochet-patterns/subversive-cross-stitch-free-crochet-pattern/">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/bloghop21-week35-square_1.jpg?v=1630193979" alt="" style="float: none;" />
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Thirty-Five</p>
        <p class="subblogHeader">Subversive Cross Stitch and Crochet</p>
        <p class="author">by <a href="https://www.classyladyyarnworks.com/free-crochet-patterns/subversive-cross-stitch-free-crochet-pattern/">Classy Lady Yarn Works</a></p>
        <p class="details">This pattern is a nod to autocorrect mishaps. It’s meant to be crass and funny and allow the maker to show their humorous side.</p>
        <p class="getpattern"><a href="https://www.classyladyyarnworks.com/free-crochet-patterns/subversive-cross-stitch-free-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>      
<!-- END of Blog Hop Week 35 section -->
    
<!-- START of Blog Hop Week 34 section -->    
    <div class="blogContent" data-start="08/29/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://noorsknits.com/colorblock-crochet-wrap-pattern-colors-of-the-wind-wrap/"></a>
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/IG-bloghop21-week34-1000.jpg?v=1629125270" alt="" style="float: none;" />        
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Thirty-Four</p>
        <p class="subblogHeader">Colors of the Wind Wrap</p>
        <p class="author">by <a href="https://noorsknits.com/colorblock-crochet-wrap-pattern-colors-of-the-wind-wrap/">Noor's Knits</a></p>
        <p class="details">This beautiful wrap is made with the Autumn Wander palette and perfect for early Fall!</p>
        <p class="getpattern"><a href="https://noorsknits.com/colorblock-crochet-wrap-pattern-colors-of-the-wind-wrap/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
     </div>
<!-- END of Blog Hop Week 34 section -->
               
<!-- START of Blog Hop Week 33 Section --> 
    
  <div class="blogContent" data-start="08/22/21">
      <div class="blogImage"> 
<!-- LINK to blog post -->
        <a href="https://littlejohnsyarn.com/free-pattern-for-easy-crochet-slippers">
<!-- Link for main image (must be square) -->
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/bloghop21-week33-square.jpg?v=1629125418" alt="" style="float: none;" />        
        </a>
      </div>
<!-- Hop Week, Design title, Designer, Description, Links -->
      <div class="blogDetails">
        <p class="blogHeader">Week Thirty-Three</p>
        <p class="subblogHeader">Peek-a-Boo Slippers</p>
        <p class="author">by <a href="https://littlejohnsyarn.com/free-pattern-for-easy-crochet-slippers">LittleJohn's Yarn</a></p>
        <p class="details">If you can chain stitch, single crochet, and slip stitch, then you can totally make these slippers!</p>
        <p class="getpattern"><a href="https://littlejohnsyarn.com/free-pattern-for-easy-crochet-slippers" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 33 Section -->
    
<!-- START of Blog Hop Week 32 Section -->  
   <div class="blogContent" data-start="08/15/21">
      <div class="blogImage">
        <a href="https://crochetlovemelbourne.com/furls-blog-hop-mandala-shopping-bag-free-crochet-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/bloghop21-week32-squares-1.jpg?v=1628175703" alt="square image of amigurumi manatee with sunglasses lounging on an inflatable pool ring" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Thirty-Two</p>
        <p class="subblogHeader">Mandala Shopping Bag</p>
        <p class="author">by <a href="https://crochetlovemelbourne.com/furls-blog-hop-mandala-shopping-bag-free-crochet-pattern/">Crochet Love Melbourne</a></p>
        <p class="details" style="color:#7b7b7d;">From the beach to the grocery store, the Mandala bag has got you. Avoid plastic and use some of these beautiful bags for your shopping instead!</p>
        <p class="getpattern"><a href="https://crochetlovemelbourne.com/furls-blog-hop-mandala-shopping-bag-free-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 32 Section -->

<!-- START of Blog Hop Week 31 Section -->  
   <div class="blogContent" data-start="08/08/21">
      <div class="blogImage">
        <a href="https://www.hookedbykati.com/summer-manatee/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-Week31-squares_-_2.jpg?v=1627818599" alt="square image of amigurumi manatee with sunglasses lounging on an inflatable pool ring" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Thirty-One</p>
        <p class="subblogHeader">Summer Manatee</p>
        <p class="author">by <a href="https://www.hookedbykati.com/summer-manatee/">Hooked by Kati</a></p>
        <p class="details" style="color:#7b7b7d;">This little amigurumi manatee is lounging around on his pool floaty, enjoying his summer vacation and soaking in some sun featuring our Wander yarn!</p>
        <p class="getpattern"><a href="https://www.hookedbykati.com/summer-manatee/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 31 Section -->
      
<!-- START of Blog Hop Week 30 Section -->  
   <div class="blogContent">
      <div class="blogImage">
        <a href="https://ahselanne.com/2021/07/15/pull-it-together-drawstring-pouch/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blogHop21-week30-square2.jpg?v=1627218630" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Thirty</p>
        <p class="subblogHeader">Pull-It Together Drawstring Pouch</p>
        <p class="author">by <a href="https://ahselanne.com/2021/07/15/pull-it-together-drawstring-pouch/">Ahsel Anne</a></p>
        <p class="details" style="color:#7b7b7d;">This deceptively simple, wide-mouth pouch is a colorful tote featuring our Wander yarn!</p>
        <p class="getpattern"><a href="https://ahselanne.com/2021/07/15/pull-it-together-drawstring-pouch/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
<!-- END of Blog Hop Week 30 Section -->
      
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://talesofknots.com/hayride-shrug-crochet-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-Week29-email-main-square.jpg?v=1626612809" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Nine</p>
        <p class="subblogHeader">The Hayride Shrug</p>
        <p class="author">by <a href="https://talesofknots.com/hayride-shrug-crochet-pattern/">Tales of Knots</a></p>
        <p class="details" style="color:#7b7b7d;">This autumn-tastic shrug sweater features our Wander yarn!</p>
        <p class="getpattern"><a href="https://talesofknots.com/hayride-shrug-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
        <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.thenicolechase.com/patterns/nala-the-no-sew-turtle">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-week28-square.jpg?v=1626012930" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Eight</p>
        <p class="subblogHeader">Nala the No-Sew Turtle</p>
        <p class="author">by <a href="https://www.thenicolechase.com/patterns/nala-the-no-sew-turtle">Nicole Chase</a></p>
        <p class="details" style="color:#7b7b7d;">This adorable sea turtle amigurumi requires no sewing and features our Wander yarn!</p>
        <p class="getpattern"><a href="https://www.thenicolechase.com/patterns/nala-the-no-sew-turtle" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
       <div class="blogContent">
      <div class="blogImage">
        <a href="https://by-katerina.com/mornings-blanket-crochet-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/BlogHop21-Week27-square.jpg?v=1625404046" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Seven</p>
        <p class="subblogHeader">Mornings Blanket</p>
        <p class="author">by <a href="https://by-katerina.com/mornings-blanket-crochet-pattern/">ByKaterina</a></p>
        <p class="details" style="color:#7b7b7d;">This stunning lightweight summer blanket features our Wander yarn!</p>
        <p class="getpattern"><a href="https://by-katerina.com/mornings-blanket-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
          <div class="blogContent">
      <div class="blogImage">
        <a href="https://creationsbycourtney.com/tunisian-crochet-lattice-top/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/CourtneyWhitehead_TunisianLatticeTop_2_242ecebc-38cc-4ec9-85e7-362ecebfe6d0.jpg?v=1624800443" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Six</p>
        <p class="subblogHeader">Tunisian Crochet Lattice Top</p>
        <p class="author">by <a href="https://creationsbycourtney.com/tunisian-crochet-lattice-top/">Creations by Courtney</a></p>
        <p class="details" style="color:#7b7b7d;">The lacy stitch in this top screams summer and works up fast - featuring our Wander yarn!</p>
        <p class="getpattern"><a href="https://creationsbycourtney.com/tunisian-crochet-lattice-top/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
          <div class="blogContent">
      <div class="blogImage">
        <a href="http://threefatescreation.com/2021/06/mandala-tunic/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Mandala_Tunic3.jpg?v=1624195306" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Five</p>
        <p class="subblogHeader">Mandala Tunic</p>
        <p class="author">by <a href="http://threefatescreation.com/2021/06/mandala-tunic/">Three Fates Creations</a></p>
        <p class="details" style="color:#7b7b7d;">The Z-twist of our Whims Merino yarn really show off this gorgeous mandala pattern!</p>
        <p class="getpattern"><a href="http://threefatescreation.com/2021/06/mandala-tunic/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.samedinamicscrochet.com/caribbean-sunset-alpine-stitch-bag-free-crochet-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Caribbean_Sunset_Alpine_Stitch_Bag_-_Free_Crochet_Pattern_3368f216-5f6f-47c3-b3fb-f2f52d7f2f09.jpg?v=1623590230" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Four</p>
        <p class="subblogHeader">Caribbean Sunset Alpine Stitch Bag</p>
        <p class="author">by <a href="https://www.samedinamicscrochet.com/caribbean-sunset-alpine-stitch-bag-free-crochet-pattern/">Same DiNamics Crochet</a></p>
        <p class="details" style="color:#7b7b7d;">The colors of a sunset come together in this gorgeous, detailed bag, featuring our Wander acrylic yarn!</p>
        <p class="getpattern"><a href="https://www.samedinamicscrochet.com/caribbean-sunset-alpine-stitch-bag-free-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
       <div class="blogContent">
      <div class="blogImage">
        <a href="https://greenfoxfarmsdesigns.com/calliope-crossbody-boho-bag-free-crochet-pattern">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-week-23-calliope-crossbody-boho-bag.jpg?v=1622984058" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Three</p>
        <p class="subblogHeader">Calliope Crossbody Boho Bag</p>
        <p class="author">by <a href="https://greenfoxfarmsdesigns.com/calliope-crossbody-boho-bag-free-crochet-pattern">Green Fox Farm Designs</a></p>
        <p class="details" style="color:#7b7b7d;">Made in our Whims Merino yarn, this bag can tote around an entire crochet project, or anything else you'd like!</p>
        <p class="getpattern"><a href="https://greenfoxfarmsdesigns.com/calliope-crossbody-boho-bag-free-crochet-pattern" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://accrochet.com/hedgehog-crochet-slipper-socks">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-22-accrochet-hedgehog-slipper-socks.jpg?v=1622378342" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-Two</p>
        <p class="subblogHeader">Hedgehog Crochet Slipper Socks</p>
        <p class="author">by <a href="https://accrochet.com/hedgehog-crochet-slipper-socks">ACCROchet</a></p>
        <p class="details" style="color:#7b7b7d;">These Hedgehog Crochet Slipper Socks are comfortable to wear and quick to make, featuring Whims Merino yarn!</p>         
        <p class="getpattern"><a href="https://accrochet.com/hedgehog-crochet-slipper-socks" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>  
     <div class="blogContent">
      <div class="blogImage">
        <a href="https://kamecrochet.com/2021/05/14/rinde-placemat-and-coaster-set/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-twentyone-rinde-placemat-_1.jpg?v=1621774002" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty-One</p>
        <p class="subblogHeader">Rindë Placemat and Coaster Set</p>
        <p class="author">by <a href="https://kamecrochet.com/2021/05/14/rinde-placemat-and-coaster-set/">K.A.M.E. Crochet</a></p>
        <p class="details" style="color:#7b7b7d;">The Rindë Placemat and Coaster Set is a fun project and perfect stash buster using Wander yarn. It works up super fast!</p>
        <p class="getpattern"><a href="https://kamecrochet.com/2021/05/14/rinde-placemat-and-coaster-set/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr><div class="blogContent">
      <div class="blogImage">
        <a href="https://thedarkntwistyhousewife.com/ambrosia-wrap/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-20-ambrosia-wrap.jpg?v=1621169433" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twenty</p>
        <p class="subblogHeader">Ambrosia Wrap</p>
        <p class="author">by <a href="https://thedarkntwistyhousewife.com/ambrosia-wrap/">The Dark N Twisty Housewife</a></p>
        <p class="details" style="color:#7b7b7d;">With a name inspired by Greek mythology the Ambrosia wrap is a beautiful make using Wander yarn.</p>
        <p class="getpattern"><a href="https://thedarkntwistyhousewife.com/ambrosia-wrap/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr><div class="blogContent">
      <div class="blogImage">
        <a href="https://www.hanjancrochet.com/mosaic-crochet-blanket-pattern">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/week-nineteen.jpg?v=1620569751" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Nineteen</p>
        <p class="subblogHeader">Wanderers Blanket</p>
        <p class="author">by <a href="https://www.hanjancrochet.com/mosaic-crochet-blanket-pattern">HanJan Crochet</a></p>
        <p class="details" style="color:#7b7b7d;">The Wanderers Blanket is a stunning mosaic crochet blanket that celebrates colour , texture and geometry. The detailed design is far simpler than it appears with a clean crisp border and huge tassels to emphasise the beautiful drape.</p>
        <p class="getpattern"><a href="https://www.hanjancrochet.com/mosaic-crochet-blanket-pattern" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
<div class="blogContent">
      <div class="blogImage">
        <a href="https://www.ktandthesquid.com/2021/05/01/gem-scrunchie-free-crochet-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-18-gem-scrunchie.jpg?v=1619927522" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Eighteen</p>
        <p class="subblogHeader">Gem Scrunchie</p>
        <p class="author">by <a href="https://www.ktandthesquid.com/2021/05/01/gem-scrunchie-free-crochet-pattern/">KT and The Squid</a></p>
        <p class="details" style="color:#7b7b7d;">Super quick and easy project! You could whip out a few in an evening. </p>
        <p class="getpattern"><a href="https://www.ktandthesquid.com/2021/05/01/gem-scrunchie-free-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.fiberfluxblog.com/2021/04/fields-of-provence-shawl-free-crochet.html">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/fields-of-provence-shawl-week_seventeen.jpg?v=1619360026" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Seventeen</p>
        <p class="subblogHeader">Provence Shawl</p>
        <p class="author">by <a href="https://www.fiberfluxblog.com/2021/04/fields-of-provence-shawl-free-crochet.html">Fiber Flux</a></p>
        <p class="details" style="color:#7b7b7d;">Beautiful Lightweight Spring Shawl</p>
        <p class="getpattern"><a href="https://www.fiberfluxblog.com/2021/04/fields-of-provence-shawl-free-crochet.html" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr> <div class="blogContent">
      <div class="blogImage">
        <a href="https://oombawkadesigncrochet.com/2021/04/spring-mandala-crochet-pattern.html">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-sixteen-oombawka-design-crochet.jpg?v=1618705689" alt="" style="float: none;"/>
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Sixteen</p>
        <p class="subblogHeader">Spring Mandala</p>
        <p class="author">by <a href="https://oombawkadesigncrochet.com/2021/04/spring-mandala-crochet-pattern.html">Oombawka Design Crochet</a></p>
        <p class="details" style="color:#7b7b7d;">Easy yet beautiful crochet pattern for a coaster.</p>
        <p class="getpattern"><a href="https://oombawkadesigncrochet.com/2021/04/spring-mandala-crochet-pattern.html" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.theloopholefox.com/crochet-wall-hanging-free-pattern/">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-15-aura-wall-hanging-the.jpg?v=1618003742" alt="" style="float: none;"/>
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Fifteen</p>
        <p class="subblogHeader">Aura Crochet Wall Hanging</p>
        <p class="author">by <a href="https://www.theloopholefox.com/crochet-wall-hanging-free-pattern">The Loophole Fox</a></p>
        <p class="details" style="color:#7b7b7d;">Beautiful wall hanging. the Perfect accessory for Spring decore.</p>
        <p class="getpattern"><a href="https://www.theloopholefox.com/crochet-wall-hanging-free-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i>Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
      <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.eclairemakery.com/monstera-clutch-free-tapestry-crochet-purse-pattern/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-fourteen-tapestry-crochet-purse.jpg?v=1617542230" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Fourteen</p>
        <p class="subblogHeader">Monstera Clutch: Tapestry Crochet Purse</p>
        <p class="author">by <a href="https://www.eclairemakery.com/monstera-clutch-free-tapestry-crochet-purse-pattern">E'Claire Makery</a></p>
        <p class="details" style="color:#7b7b7d;">A simple and stylish crochet clutch pattern that uses tapestry crochet. It’s the perfect summer accessory!</p>
        <p class="getpattern"><a href="https://www.eclairemakery.com/monstera-clutch-free-tapestry-crochet-purse-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-13-larkin-teesquare_1.jpg?v=1618145827"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-13-larkin-teesquare_1.jpg?v=1618145827" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Thirteen</p>
        <p class="subblogHeader">Larkin Tee</p>
        <p class="author">by <a href="https://www.twobrothersblankets.com/crochet-top-larkin-tee/">Two Brothers Blankets</a></p>
        <p class="details" style="color:#7b7b7d;">Stylish crochet tee</p>
        <p class="getpattern"><a href="https://www.twobrothersblankets.com/crochet-top-larkin-tee/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://knottednest.com/spring-plaid-crochet-poncho-free-pattern/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/spring-plaid-crochet-poncho.jpg?v=1616328495" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Twelve</p>
        <p class="subblogHeader">Spring Plaid Poncho</p>
        <p class="author">by <a href="https://knottednest.com/spring-plaid-crochet-poncho-free-pattern/">Knotted Nest</a></p>
        <p class="details" style="color:#7b7b7d;">Crochet a poncho that is the ultimate “looks complicated, but is actually super easy” make!</p>
        <p class="getpattern"><a href="https://knottednest.com/spring-plaid-crochet-poncho-free-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.throughtheloopyc.com/ivy-lane-infinity-scarf-free-pattern/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/ashley-edmonds-march-14-ivy-lane-scarf-square.jpg?v=1615730904" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Eleven</p>
        <p class="subblogHeader">Ivy Lane Infinity Scarf</p>
        <p class="author">by <a href="https://www.throughtheloopyc.com/ivy-lane-infinity-scarf-free-pattern//">Through The Loop Yarn Craft</a></p>
        <p class="details" style="color:#7b7b7d;">This beautiful scarf is a great accessory for the warmer months!</p>
        <p class="getpattern"><a href="https://www.throughtheloopyc.com/ivy-lane-infinity-scarf-free-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
       <div class="blogContent">
      <div class="blogImage">
        <a href="https://youshouldcraft.com/triangle-scarf-crochet-pattern">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Furls_blog_hop_2021_week_10_striped-triangle-scarf-crochet-24.jpg?v=1627666568" alt="" style="float: none;" />
        </a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Ten</p>
        <p class="subblogHeader">Stardew Triangle Scarf</p>
        <p class="author">by <a href="https://youshouldcraft.com/triangle-scarf-crochet-pattern">You Should Craft</a></p>
        <p class="details" style="color:#7b7b7d;">This beautifully open-stitched scarf features our Whims Merino DK yarn!</p>
        <p class="getpattern"><a href="https://youshouldcraft.com/triangle-scarf-crochet-pattern" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
       <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://aknottyhabitdesigns.com/calliope-slouch/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-nine-calliope-slouch-a-kn_1.jpg?v=1614616808" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Nine</p>
        <p class="subblogHeader">Calliope Slouch</p>
        <p class="author">by <a href="https://aknottyhabitdesigns.com/calliope-slouch/">A Knotty Habit Designs</a></p>
        <p class="details" style="color:#7b7b7d;">This beautifully textured hat is perfect for the end of winter.</p>
        <p class="getpattern"><a href="https://aknottyhabitdesigns.com/calliope-slouch/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr />
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://www.pinkplumeriamaui.com/diamond-plant-cozy/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-blog-hop-2021-week-eight-planter-cover-pink.jpg?v=1613764393" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Eight</p>
        <p class="subblogHeader">Diamond Plant Cozy</p>
        <p class="author">by <a href="https://www.pinkplumeriamaui.com/diamond-plant-cozy/">Pink Plumeria Maui</a></p>
        <p class="details" style="color:#7b7b7d;">This lovely diamond plant holder is sure to make your plant babies happy.</p>
        <p class="getpattern"><a href="https://www.pinkplumeriamaui.com/diamond-plant-cozy/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://pinksheepdesignblog.wordpress.com/2021/02/07/free-pattern-dobbys-hooded-cardigan/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Furls_Blog_Hop_2021_Week_Seven._Dobbys_Hooded_Cardigan_by_Pink_Sheep_Designs..jpg?v=1613392895" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Seven</p>
        <p class="subblogHeader">Dobby's Hooded Cardigan</p>
        <p class="author">by <a href="https://pinksheepdesignblog.wordpress.com/2021/02/07/free-pattern-dobbys-hooded-cardigan/">Pink Sheep Design</a></p>
        <p class="details" style="color:#7b7b7d;">This fun sweater pattern is great for any beginner crocheter. With fewer parts to sew together and simple stitches, my hope is for you to truly enjoy the experience of creating something rather than getting stressed out, frustrated or bored!</p>
        <p class="getpattern"><a href="https://pinksheepdesignblog.wordpress.com/2021/02/07/free-pattern-dobbys-hooded-cardigan/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr />
    <div class="blogContent">
      <div class="blogImage" style="text-align: start;">
        <a href="https://richtexturescrochet.com/crochet-hook-case-crochet-pattern/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-five-thumb.jpeg?v=1612303374" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Five</p>
        <p class="subblogHeader"><a href="https://richtexturescrochet.com/crochet-hook-case-crochet-pattern/">Crochet Hook Case</a></p>
        <p class="author">by <a href="https://richtexturescrochet.com/crochet-hook-case-crochet-pattern/">Rich Textures Crochet</a></p>
        <p class="details" style="color:#7b7b7d;">If you like to take your crochet hooks with you on the go (even if it is just from room to room in your house), it is always handy to have a small case in which to keep your hooks and notions. This crochet hook case will do just that!</p>
        <p class="getpattern"><a href="https://richtexturescrochet.com/crochet-hook-case-crochet-pattern/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://undergroundcrafter.com/2021/01/24/crochet-pattern-love-critter/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-four-thumb.jpeg?v=1612303604" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Four</p>
        <p class="subblogHeader">Love Critter</p>
        <p class="author">by <a href="https://undergroundcrafter.com/2021/01/24/crochet-pattern-love-critter/">Underground Crafter</a></p>
        <p class="details" style="color:#7b7b7d;">The Love Critter is huggable with floppy limbs that can be carried around by hands of all sizes. Use your imagination to create any kind of critter that you want.</p>
        <p class="getpattern"><a href="https://undergroundcrafter.com/2021/01/24/crochet-pattern-love-critter/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://countingcraftysheep.com/blog/like-a-fox-beanie"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-three-thumb.jpeg?v=1612304580" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Three</p>
        <p class="subblogHeader">"Like a Fox" Beanie</p>
        <p class="author">by <a href="https://countingcraftysheep.com/blog/like-a-fox-beanie">Counting Crafty Sheep</a></p>
        <p class="details" style="color:#7b7b7d;">The Like a Fox Beanie is a great project for any level crocheter. You only need to know a couple variations on the half double crochet stitch to make it happen. This pattern has customization instructions that will allow you to use any weight yarn and any size crochet hook.</p>
        <p class="getpattern"><a href="https://countingcraftysheep.com/blog/like-a-fox-beanie" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://brindlebabe.com/snowdrop-crochet-vest/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-two-thumb.jpeg?v=1612304585" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week Two</p>
        <p class="subblogHeader">The Snowdrop Crochet Vest</p>
        <p class="author">by <a href="https://brindlebabe.com/snowdrop-crochet-vest/">Brindle Babe Designs</a></p>
        <p class="details" style="color:#7b7b7d;">This fun and lacy crochet vest comes in 3 inclusive sizes to fit XS through 2X. This design is worked in one piece. The Snowdrop Crochet Vest features a fun crossing double crochet stitch.</p>
        <p class="getpattern"><a href="https://brindlebabe.com/snowdrop-crochet-vest/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <div class="blogContent">
      <div class="blogImage">
        <a href="https://christacodesign.com/2021/01/03/verso-crochet-scarf-pattern-a-free-scarf-pattern-for-men/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/blog-hop-week-one-thumb.jpeg?v=1612304575" alt="" style="float: none;" /></a>
      </div>
      <div class="blogDetails">
        <p class="blogHeader" style="color:#7b7b7d;">Week One</p>
        <p class="subblogHeader">The Verso Scarf</p>
        <p class="author">by <a href="https://christacodesign.com/2021/01/03/verso-crochet-scarf-pattern-a-free-scarf-pattern-for-men/">Christa Co Design</a></p>
        <p class="details" style="color:#7b7b7d;">The beauty of crochet stripes and texture come together in the Verso Scarf, a free crochet scarf pattern with men in mind. The Verso Scarf is an easy crochet pattern that’s beginner friendly. Any level crocheter can crochet this simple scarf pattern.</p>
        <p class="getpattern"><a href="https://christacodesign.com/2021/01/03/verso-crochet-scarf-pattern-a-free-scarf-pattern-for-men/" target="_blank" rel="noopener noreferrer"><i class="far fa-save"></i> Get Your Pattern</a></p>
      </div>
    </div>
    <hr>
    <p style="text-align: center;">Meet us back here every Sunday for another free crochet, knit or Tunisian pattern.</p>

    <hr />
    
{% include "newsletter-signup-blog-footer" %}
     
{{ 'blogStyles.css' | asset_url | stylesheet_tag }}

  <style type="text/css">
  .blogHeader {
    font-weight:400 !important;
    color:#7b7b7d !important;
  }
  .details {
    font-weight:400 !important;
    color:#7b7b7d !important;
  }
  .author{
    font-weight:500 !important;
    font-size:16px !important;
  }
  .getpattern {
    font-size:16px;
  }
    
  </style>


<script type="text/javascript">
  $(function(){
  
    $("body").on("click touchend","#blog-section-link span",function(){
        var section = $(this).data("section");
          $('html, body').animate({
              scrollTop: ($("#" + section).offset().top) - 100
            }, 500);
    });

    $("body").on("click touchend",".blog-subsection-link span",function(){
        var section = $(this).data("section"),
            subsection = $(this).data("subsection");
          $('html, body').animate({
              scrollTop: ($("#" + section + "-" + subsection).offset().top) - 100
            }, 500);
    });
    
    // Desktop only JS
    if($(window).width() >= 750) {
      $('.blogContent:nth-of-type(odd) .blogImage').each(function() {
        $(this).insertBefore($(this).parent().find(".blogDetails"));
      });

      $('.blogContent:nth-of-type(even) .blogImage').each(function() {
        $(this).insertAfter($(this).parent().find(".blogDetails"));
      });
    }
  });

</script>