<div class="sidebar-wrapper">
<!-- Title -->
  <h3 style="text-align:center;">Autumn Chill Sweater</h3>
    <a class="oink-link" href="/blogs/crochet-tutorials" >
<!-- Image of design -->
    	<img loading="lazy" class="sidebar-image-lg" src="https://cdn.shopify.com/s/files/1/0166/0254/files/082021-autumnChillSweater-square.jpg?v=1632954978"/>
    </a>
  
  <h4 style="text-align:center;border-bottom:none;font-size:16px;margin-bottom:0px;padding-bottom:2px;">Our Designer Host:</h4>
<!-- Designer's name -->
  <h3 style="text-align:center;">Mary Onorati</h3>
<!-- Link to designer's website -->
  <a class="oink-link" href="https://www.kickincrochet.com/" target="_blank">
<!-- Designer's headshot -->    
    	<img loading="lazy" class="creation-logo" src="https://cdn.shopify.com/s/files/1/0166/0254/files/mary-onorati-headshot.jpg?v=1633466948"/>
  </a>
  

  <h3 style="text-align:center;">Add this on Ravelry!</h3>
<!-- Link to design on Ravelry -->   
    <a class="oink-link" href="https://www.ravelry.com/patterns/library/autumn-chill-sweater" target="_blank">
<!-- Ravelry logo image (don't need to change) -->      
    	<img loading="lazy" class="sidebar-image-sm" src="https://cdn.shopify.com/s/files/1/0166/0254/files/ravelry-logo.png?15842434012246431034" />
    </a>
 
       
  <hr/>
  

    <h3 style="text-align:center;">Wander - Premium Acrylic Yarn</h3>
    <a id="collector-promo" class="oink-link" href="https://furlscrochet.com/products/acrylic-crochet-yarn" target="_blank">
    	<img loading="lazy" class="sidebar-image-lg" src="https://cdn.shopify.com/s/files/1/0166/0254/files/new-product-thumb-wander.jpeg?v=1614361880"/>
    </a>
  
  <h3 style="text-align: center;">Load up on yarn for this pattern!</h3>
  
  <table class="sidebar-hook-preview">
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_odyssey.jpg?10483313835409931072"/></td>
      <td><span><a href="/products/furls-odyssey">Odyssey</a><span class="price"> - $30</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/candy-shop-sidebar-variant.jpeg?v=1610142515"/></td>
      <td><span><a href="/products/candy-shop-crochet-hooks-sizes-f-i">Candy Shop</a><span class="price"> - $49</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_alpha-series.jpg?10483313835409931072"/></td>
      <td><span><a href="/products/alpha-series-wood-crochet-hook">Alpha Series</a><span class="price"> - $79</span></span></td>
    </tr>
    <tr> 
      <td><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/product-sidbar-hover-images_limited-edition.jpg?10483313835409931072"/></td>
      <td><span><a href="/collections/limited-editions">Limited Edition</a><span class="price"> - $99</span></span></td>
    </tr>
  </table>
</div>