<div class="sixteen columns">
  <div class="section clearfix productWrapper">

    <div id="product-image" class="eight columns alpha">
      <!-- product images -->
      <div class="productImageCarousel">
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
      <div class="productImageControlsWrapper">
        <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
          <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>

      <div class="thumbnails product_image_col productImageCarouselThumbnails">
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
    </div>

    <div class="eight columns omega">
      <span class='title-mini' style="display:inline-block;">Mixed Hooks - Special Savings</span>
      {%include 'product-form-candy-shop-hook-set'%}
      <hr/>
      <div class="form-bylines">
        <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
        <p class="alert-byline"></p>
          <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
      </div>
    </div>
  </div>
</div>
<!--USPs -->
<div class="sixteen columns description">
  
  <div class="section clearfix productFeatured">
    <span>
        <img loading="lazy" alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/dolla-dolla-USP.jpg?v=1606855420"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SIMPLE SAVINGS</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">The savings just keep getting sweeter the more hooks you grab! </p>
    </span>
    <span>
        <img loading="lazy" alt="hand love illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">EASY GIFTGIVING</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Go "One-Click" for a shuffled selection of colors in the most popular sizes, or choose "Customize" to curate a set of your own. </p>
    </span>
    <span>
        <img loading="lazy" alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/five-odysseys-circled-USP.jpg?v=1606855420"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">HOOKS YOU LOVE – BUNDLED</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Now it's easier than ever to make sure you – or a lucky someone – have got hand-healthy ergonomics in every size. </p>
    </span>
  </div>
</div>
      <hr/>
  <div class="sixteen columns">
    <div class="section clearfix productFeatured">
      <div class="eight columns alpha">
        <h1 style="margin-bottom:35px;letter-spacing:2px;font-weight:bold;">About Candy Shop</h1>
      
        <h3>Treat your eyes</h3>
        <p>You crochet. You make art. Why not make your art with art? Furls' artisans handmake every Candy Shop hook in breathtaking colors and gorgeous shapes so that you can enjoy using a beautiful tool while you make beautiful things. Life is too short to use an ugly hook.</p>
        <h3>Treat your hands</h3>
        <p>Eventually, repetitive motion will wear out your hands and wrists. Protect yourself and your body with an ergonomic hook that is light, smooth, and designed for the human hand. Every Furls hook is sculpted to releive tension in the MCP (metacarpaphalangeal) joint in the human hand</p>
        <h3>Treat your projects</h3>
        <p>Straighter rows and more even stitches are natural consequences of a hook that fits into and relaxes your hand. Customers say their crochet is often mistaken for knitting when they use a Furls hook because of the straightness of their stitches!</p>
        <h3 style="font-weight:bold;border:none;">100% satisfaction guarantee</h3>
      </div> 
      
      <div class="eight columns omega">
         <img loading="lazy" id="product-rotation" src="https://cdn.shopify.com/s/files/1/0166/0254/files/furls-furls-0091_1.jpg?v=1633530640"/>
      <script type="text/javascript">
          $(function(){
            //set frames
            var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/furls-furls-0091_1.jpg?v=1633530640",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/furls-furls-0107_1.jpg?v=1633530640",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/furls-furls-0163_1.jpg?v=1633530640"
                             ];
            //set starting locations
            var currentFrame = 1;
            //on load update image and increase current every 100ms
            window.setInterval(function(){        
              $("#product-rotation").attr("src",frames[currentFrame]);
              currentFrame = (currentFrame + 1) % frames.length;
            }, 2000);
          });
        </script>
      </div>
    </div>
  </div>
  <hr/>

{%include 'candy-shop-set-scripts'%}
{{ 'hookSets.css' | asset_url | stylesheet_tag }}
