<div class="sixteen columns charitiesWrapper">
  <h1>Charity of the Month</h1>
  <h2 style="letter-spacing:2px;font-size:32px;">To Write Love On Her Arms</h2>
  <div class="section clearfix mainMonthWrapper">
  <div class="eight columns alpha">
    <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/42205975_10155620686961957_6333109911391567872_n.jpg?v=1633096505">
  </div>

  <div class="eight columns omega">
    <p>
      To Write Love on Her Arms is a non-profit movement dedicated to presenting hope and finding help for people struggling with depression, addiction, self-injury, and suicide. TWLOHA exists to encourage, inform, inspire, and also to invest directly into treatment and recovery.
      <span><a href="https://twloha.com/">More info and ways to support this charity</a></span>
    </p>
  </div>
      </div>
  <div class="totalDonated">
    <h2>Total Donated: $45.02</h2>
  </div>
</div>

<div class="sixteen columns">
  <h2>Past Charities</h2>
  <div class="pastCharitiesWrapper">
    <span class="pastCharitiesMarch">
      <span><strong>March 2021</strong></span><br>
      <a href="https://isupportthegirls.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/istg-logo.jpg?v=1616089653"></a>
      <h3>Total Donated: $2890.15</h3>
    </span>
    <span class="pastCharitiesApril">
      <span><strong>April 2021</strong></span><br>
      <a href="https://stopaapihate.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/stopaapihate-logo-1353x1536.jpg?v=1617291886"></a>
      <h3>Total Donated: $631.32</h3>
    </span>
  </div>
  <div class="pastCharitiesWrapper">
    <span class="pastCharitiesMay">
      <span><strong>May 2021</strong></span><br>
      <a href="https://www.davethomasfoundation.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/DTFA_Logo_tag_rgb.jpg?v=1620304692"></a>
      <h3>Total Donated: $298.27</h3>
    </span>
    <span class="pastCharitiesJune">
      <span><strong>June 2021</strong></span><br>
      <a href="https://www.thetrevorproject.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Screen_Shot_2021-06-01_at_12.00.10_PM.png?v=1622563222"></a>
      <h3>Total Donated: $1,025.45</h3>
    </span>
  </div>
  <div class="pastCharitiesWrapper">
    <span class="pastCharitiesJuly">
      <span><strong>July 2021</strong></span><br>
      <a href="https://www.riseagainsthunger.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/RAH-Logo-original_no_tag_web-500px.png?v=1625595968"></a>
      <h3>Total Donated: $322.74</h3>
    </span>
    <span class="pastCharitiesAug">
      <span><strong>August 2021</strong></span><br>
      <a href="https://www.stjude.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Screen_Shot_2021-08-02_at_9.38.58_AM.png?v=1627911621"></a>
      <h3>Total Donated: $450.06</h3>
    </span>
  </div>
  <div class="pastCharitiesWrapper">
    <span class="pastCharitiesSept">
      <span><strong>September 2021</strong></span><br>
      <a href="https://aloisalzheimerfoundation.org/"><img src="https://cdn.shopify.com/s/files/1/0166/0254/files/aloisfoundationlogo.png?v=1630584541"></a>
      <h3>Total Donated: $480.02</h3>
    </span>
  </div>
</div>

{{ 'charities.css' | asset_url | stylesheet_tag }}
