  <div class="sixteen columns">
  <div  class="section clearfix">
    
    <!--Start Handbook-->
    
    <div  style="margin:auto; float:none;" class="handbook" >
      <h3 style="text-align:center;margin-top:8px;letter-spacing:1px;">Email <strong>support@furlscrochet.com</strong></h3>
      <p class="covid" style="color:#c5afa2;">Due to COVID-19, shipping times have been delayed. <br/>All US orders can take up to 6 weeks and International orders can take up to 10 weeks. </p>
    </div>
    <hr/>
    
    <h1 style="text-align:center;font-weight:bold;letter-spacing:2px;">Frequently Asked Questions</h1>
<div class="faq">
<!-- START INDEX -->      
    <div class="section clearfix">
<!-- COLUMN ONE -->
   <div class="eight columns alpha">
<!-- Customer Service Hours -->
      <h3>What are your Customer Service Hours?</h3>
     <div class="seven columns alpha">
      <p> <strong>Our office hours are M – F, 9AM – 3:30PM CST.* </strong><br/>If received outside of office hours, you'll hear from us as soon as we're back in the office.<br/>
     We're here to answer all of your questions and make any concerns or troubles you have go away. Reach out to Furls Support and let us take care of you. </p>
     <p class="fake-link" id="nat" style="font-size:14px;margin-bottom:10px;font-weight:bold;"> *Furls is closed for all US national holidays. </p>
      <div class="nat" style="display:none;"> 
        <p>New Year's Day - <strong>Jan 1</strong><br/>Martin Luther King, Jr. Day - <strong>Jan 18</strong><br/>Memorial Day - <strong>May 31</strong><br/>Independence Day - <strong>July 5</strong><br/>Labor Day - <strong>Sept 6</strong><br/>
         Indigenous Peoples' Day - <strong>Oct 11</strong><br/>Veteran's Day - <strong>Nov 11</strong><br/>Thanksgiving Day - <strong>Nov 25</strong><br/>Christmas Day - <strong>Dec 25</strong></p>
     </div>
     </div>
<!-- Questions about orders -->
     <hr/>
      <h3>Ordering / Your Order</h3>
      <p class="fake-link" id="order1">How do I place an order?</p>
      <p class="fake-link" id="order2">I can’t check out my order on the website, help.</p>
      <p class="fake-link" id="order3">Where is my order?</p>
      <p class="fake-link" id="order4">How do I cancel an order?</p>
      <p class="fake-link" id="order5">How do I get a refund?</p>
      <p class="fake-link" id="order6">I would like a replacement / exchange on my hook, what do I need to do?</p>
      <p class="fake-link" id="order7">How do I return my order?</p>
      <p class="fake-link" id="order8">How do I make changes or edit my order?</p>
      <p class="fake-link" id="order9">My package is lost / has been delivered but I don’t have it, what can I do?</p>
      <p class="fake-link" id="order10">How do I use Discount / Promotional Codes?</p>
      <p class="fake-link" id="order11">How long are Discount / Promotional Codes active?</p>
       
   </div>
<!-- COLUMN TWO -->     
   <div class="eight columns omega">
<!-- Questions about Furls products -->
  <h3>About Furls Products</h3>
      <p class="fake-link" id="product1">How often do Furls products break?</p>
      <p class="fake-link" id="product2">My hook broke, can I get it replaced?</p>
      <p class="fake-link" id="product3">How do the hooks work?</p>
      <p class="fake-link" id="product4">Any recommendations for beginners? What hook is right for me?</p>
      <p class="fake-link" id="product5">How long are the hooks?</p>
      <p class="fake-link" id="product6">I'm having a problem using my hook. Help!</p>
      <p class="fake-link" id="product7">How do I clean / care for my Furls hooks?</p>
      <p class="fake-link" id="product8">How do I correctly measure my Furls hooks?</p>
      <p class="fake-link" id="product9">Any more details on Furls hooks?</p>
<!-- Questions about Shipping -->
  <hr/>
  <h3>Shipping </h3>
      <p class="fake-link" id="ship1">How much is shipping?</p>
      <p class="fake-link" id="ship2">Do you offer expedited shipping?</p>
      <p class="fake-link" id="ship3">Do you ship to PO boxes?</p>
      <p class="fake-link" id="ship4">Will my country charge me customs or duties?</p>
<!-- Questions about emails -->  
  <hr/>
  <h3>Emails</h3>
      <p class="fake-link" id="email1">How do I join the newsletter?</p>
      <p class="fake-link" id="email2">I'm receiving 2 copies of every email, how do I stop this?</p>
        
<!-- Questions about Affiliates/Partners/Wholesale -->
  <hr/>
  <h3>Affiliates, Partners, & Wholesale</h3>
      <p class="fake-link" id="affiliate1">Are your products available for local yarn stores or wholesalers?</p>
      <p class="fake-link" id="affiliate2">How do I become an affiliate?</p>
   </div>
</div>
<!-- END INDEX -->

<!-- START CONTENT -->
  <div class="sixteen columns" id="content">
      <div class="section clearfix">
        <div class="twelve columns offset-by-two">
<!-- Answers about orders -->
      <h3>Ordering / Your Order</h3>
      <h4 class="order1">How do I place an order?</h4>
          <p>Go to <a href="http://furlscrochet.com">furlscrochet.com</a><br/>Search for the Furls product you want<br/>Add to your Cart<br/>Check out when ready, and fill in the appropriate shipping and payment information.</p>
      <h4 class="order2">I can’t check out my order on the website, help!</h4>
          <p>If you're trying to use the Furls Fiberarts website but for some reason your cart is malfunctioning, we have 2 recommendations. 
            The first is closing your browser and reopening your window in the latest edition of Google Chrome. 
            If that still doesn't work, email our Support Team at support@furlscrochet.com and we'll send you a manual order sheet to use for your order.</p>
      <h4 class="order3">Where is my order?</h4>
          <p>When you place an order, you will have received an order confirmation via email. Once your order has been shipped, you will receive an email with your shipping confirmation. 
            Please allow up to 24 hours for the tracking information to update. You can track your order using the tracking information provided in your email.</p>
      <h4 class="order4">How do I cancel an order?</h4>
          <p>To cancel your order, please email us at support@furlscrochet.com with the Subject Line: CANCEL MY ORDER. 
            <u>Include your order number in the body of the text and provide information that you’d like to cancel your order.</u> A Customer Service Representative will contact you.</p>
      <h4 class="order5">How do I get a refund?</h4>
          <p>To get a refund for your order, please email us at support@furlscrochet.com with the Subject Line: REFUND MY ORDER. 
            <u>Include your order number in the body of the text and provide information that you’d like to cancel your order.</u> A Customer Service Representative will contact you. <br/>
            <i>Please note that depending on your bank or financial institution, your refund may take 3-7 days to process.</i></p>
      <h4 class="order6">I would like a replacement / exchange on my hook, what do I need to do?</h4>
          <p><a href="https://furlscrochet.com/pages/privacy">Please refer to our updated policy here</a> <br/>All Furls Crochet hooks are guaranteed under the Furls Crochet Promise to perform 
            to a certain standard. If for any reason you are dissatisfied with your Furls Crochet hook or your Furls Hook fails to live up to our Promise, you are entitled to a 100% refund 
            or a complimentary replacement or exchange within 90 days of your purchase. All returned or exchanged products 90 days after the purchase date will be subject to a 5% restocking fee with a minimum of $5.00 USD. 
            <u>Proof of purchase, in the form of your email address, order number, or original order receipt/confirmation, is required</u> for all returns, replacements, and refunds.</p>
      <h4 class="order7">How do I return my order?</h4>
          <p>To return your order, please email us at support@furlscrochet.com with the Subject Line: RETURN MY ORDER. <u>Include your order number in the body of the text and provide 
            information that you’d like to return your order.</u> A Customer Service Representative will contact you. <br/>Any product returned for replacement, exchange, refund MUST be returned in good-as-new condition to be 
            eligible. Customer is responsible for shipping product back with packaging/shipping materials to prevent damage during transit and covering the cost of shipping for exchanges or products broken by customer negligence. Returned product received in poor condition will not be eligible for a replacement, exchange, refund, etc.</p>
      <h4 class="order8">How do I make changes or edit my order?</h4>
          <p>To edit or make changes to your order, please email us at support@furlscrochet.com with the Subject Line: EDIT MY ORDER. <u>Include your order number in the body of the text and provide information that you’d like to edit your order.</u> A Customer Service Representative will contact you.<br/>
            If your order has already shipped, we will make a new one for you with the right details, and you can always exchange products you have received.</p>
      <h4 class="order9">My package is lost / has been delivered but I don’t have it, what can I do?</h4>
          <p>US orders shipped from the US, or UK orders shipped from the UK, must wait 30 days after a false delivery before a replacement is issued. <strong>A delivery qualifies as false if it fails to arrive 30-60 days <u>after shipping confirmation</u></strong> (not from the date of confirmed purchase).
            Customer must contact their local post office.
            <br/><span style="color:#c5afa2;">PLEASE NOTE: borders that are closing due to COVID are out of our control. If your location is affected by a border closure or other COVID-related restriction(s) that have upset regular shipping practices, this policy does not apply.</span><br/>
            International orders must wait 60 days after a false delivery before a replacement is issued. Customer must contact their local post office.<br/>
            Australian or South African orders must wait 120 days after a false delivery before a replacement is issued. Customer must contact their local post office.<br/>
            For further information, email support@furlscrochet.com</p>
      <h4 class="order10">How do I use Discount / Promotional Codes?</h4>
          <p>When you place your order and you click on “Checkout”, you will be given the option to enter a discount code/promotional code before you enter your shipping information. </p>
      <h4 class="order11">How long are Discount / Promotional Codes active?</h4>
          <p>Discount codes will be honored no longer than 24 hrs after the published end date. Discounts are not valid on previous purchases and cannot be combined with any other offers or discount codes.</p>
        
<!-- Answers about Shipping -->
  <hr/>
  <h3>Shipping </h3>
      <h4 class="ship1">How much is shipping?</h4>
          <p><strong>US Shipping:</strong> Standard US Shipping- $6.50 <br/>Average Delivery in 3-4 days <br/>Free Standard US Shipping on orders over $60</p>
          <p><strong>Canadian Shipping:</strong> Standard Canada Shipping- FedEx Ground or USPS rates<br/> Average Delivery in 6-14 days<br/>Free Standard Canadian Shipping on orders over $160</p>
         <p><strong>UK Shipping:</strong> Standard UK Shipping- FedEx or USPS rates<br/>Average Delivery in 10-18 days<br/>Free Standard UK Shipping on orders over $250</p>
          <p><strong>International Shipping:</strong> Standard International Shipping- FedEx or USPS rates<br/>Average Delivery in 10-18 days<br/>Free Standard International Shipping on orders over $300</p>
      <h4 class="ship2">Do you offer expedited shipping?</h4>
          <p>Yes, we offer next-day shipping. Choose "UPS Next Day Air Saver" as your shipping method on checkout.</p>
      <h4 class="ship3">Do you ship to PO boxes?</h4>
          <p>Yes, we certainly do ship to PO Boxes in the USA and across the world!</p>
      <h4 class="ship4">Will my country charge me customs or duties?</h4>
          <p>International orders may be subject to import taxes, custom & duties and fees levied by the destination country. The recipient of an international shipment may be subject to such rates, 
            and these must be borne by the recipient. Customs policies vary widely country to country; please contact your local customs office for your country's policies. When customs clearance 
            procedures are required, it can cause delays and expenses beyond our delivery estimates.</p>

<!-- Answers about Furls products -->
  <hr/>
  <h3>About Furls Products</h3>
      <h4 class="product1">How often do Furls products break?</h4>
          <p>Less than 02.4% of all Furls products experience damages or need repairs (1/4 of the global consumer goods industry standard of 11.3% defects), and we back every product by a replacement or refund warranty. If something breaks during normal use, we'll fix it and make the situation right.</p>
      <h4 class="product2">My hook broke, can I get it replaced?</h4>
          <p><a href="https://furlscrochet.com/pages/privacy">Please refer to our updated policy here</a> <br/>Products broken by customer negligence (rolls off table, dog chewed, etc.) are not covered by warranty. Defective products or products that break in transit or in normal use are 
            eligible for a replacement or full refund at any time. In the case that your crochet hook head breaks or is defective, please email us at support@furlscrochet.com and we will take care of your replacement ASAP. The defective product must be returned or photo proof must be presented, according to our discretion. Furls will issue return labels 
            for defective/broken products. Furls will issue multiple replacements on defective products. Furls will not issue more than 2 consecutive replacements on wear and tear on Candy Shop paint.</p>
      <h4 class="product3">How do the hooks work?</h4>
          <p>Furls hooks combine a unique mix of science and artistry to perfectly meld hand and hook. <a href="https://furlscrochet.com/pages/about-us">Watch our Founder talk more about how Furls' hooks work</a> or read all <a href="https://furlscrochet.com/pages/reasons">6 ways your Furls hook will take care of you</a> to find out more.</p>
      <h4 class="product4">Any recommendations for beginners? What hook is right for me?</h4>
          <p>If you're trying to find which hook is right for you to start, our Tulipwood or Cocobolo Alphas in Size 5mm is the best choice. These are the most popular (and two of the most beautiful woods) we carry, 5mm is our most popular size and fits a great variety of projects, 
            and the wooden hook has such a comfortable and luxurious hand-feel, that you're sure to get started with as few hiccups as possible.</p>
      <h4 class="product5">How long are the hooks?</h4>
          <p><strong>Alpha Series:</strong> 5.75” - 6" long<br/>
            <strong>Candy Shop:</strong> 5.25" - 5.75" long<br/>
          <strong>Odyssey:</strong> 6" - 6.5" long<br/>
          <strong>Streamline Wood:</strong> 6.5" - 7" long<br/>
          <strong>Streamline Swirl:</strong> 6.5" - 7" long<br/>
          <strong>Tunisian:</strong> 12" long</p>
      <h4 class="product6">I'm having a problem using my hook. Help!</h4>
          <p>It might take some time to adjust to using a Furls hook. You may find your grip will naturally adapt to using an ergonomic hook. Our customers often report that once they become acclimated to their Furls hook, they prefer them over all others.</p>
      <h4 class="product7">How do I clean / care for my Furls hooks?</h4>
          <p><strong>Alpha Series:</strong> Your Alpha Series wooden hook should be polished every couple of months for best results. We recommend <a href="https://www.howardproducts.com/product/feed-n-wax-wood-polish-and-conditioner/">Howard Feed 'n' Wax Wood Polish & Conditioner made from Beeswax and Orange.</a> Pay special attention 
            to the top and bottom ends of your Alpha hook(s): if they start to look like bare wood, they just need a polish. <br/>
            <strong>Odyssey:</strong> Gently wipe down with a damp cloth.<br/>
            <strong>Streamline Wood:</strong> Gently wipe down with a damp cloth.<br/>
            <strong>Streamline Swirl:</strong> Gently wipe down with a damp cloth.<br/>
            <strong>Candy Shop:</strong> Gently wipe down with a damp cloth.<br/>
            <strong>Tunisian:</strong> Gently wipe down with a damp cloth.<br/>
          </p>
      <h4 class="product8">How do I correctly measure my Furls hooks?</h4>
          <p>To get the most accurate measurement, use a pair of digital calipers and measure the hook shaft just under where the taper of the throat ends. Hold the calipers perpendicular to the hook body.
            <img loading="lazy" style="max-width:200px;margin-right:20px;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/correct-measuring-furls-hooks.jpg?v=1625254481"><img loading="lazy" style="max-width:200px;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/correct-measuring-furls-hooks-2.jpg?v=1625254636">
          </p>
          <p>If you do not have a pair of calipers, you can use a crochet gauge. Be sure to use a slide on gauge. <strong>The closed gauges (circle cutouts) will not work for our hooks as the head shape is slightly different from traditional tools.</strong> Please note that crochet gauges are not the most accurate means of measurement.</p>
      <h4 class="product9">Any more details on Furls hooks?</h4>
          <p><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/hook-quick-guide-1.jpg?v=1626885925"></p>
          
<!-- Answers about emails -->  
  <hr/>
  <h3>Emails</h3>
      <h4 class="email1">How do I join the newsletter?</h4>
          <p>Sign up to get all our pattern releases, CAL updates, and new product announcements at the bottom of this page (just scroll down)!</p>
      <h4 class="email2">I'm receiving 2 copies of every email, how do I stop this?</h4>
          <p>Oops! You're getting 2 copies of every email because you're subscribed to both our Customer and General newsletters. Just open up one of the emails and click the unsubscribe link at the bottom. You'll now be unsubscribed from one of our lists, but still subscribed to the other.</p>
        
<!-- Answers about Affiliates/Partners/Wholesale -->
  <hr/>
  <h3>Affiliates, Partners, & Wholesale</h3>
      <h4 class="affiliate1">Are your products available for local yarn stores or wholesalers?</h4>
          *Please note that our Wholesale program is temporarily suspended while we make changes to and update the program.
      <h4 class="affiliate2">How do I become an affiliate?</h4><br/>
          <p>We run our affiliate program through ShareASale. Please signup for a ShareASale account using the link below. Once approved you can apply to the Furls Crochet Affiliate Program. Find us using the Merchant Search option.</p>
          <p><a href="https://account.shareasale.com/newsignup.cfm"><strong>Affiliate Sign Up Here</strong></a></p>
          <br/>
          <hr/>
          <h1 id="top" class="fake-link" style="text-align:center;color:#c5afa2;font-weight:bold;">Back to Top</h1>
      </div>
<!-- END CONTENT -->
  </div>
  </div>

     <!--End Internal-->
</div>
      <!--End Handbook-->
      
  </div>
</div>

<style type="text/css">
  .faq p {
  text-align:left;
  font-size:14px;
  }
  
  .faq h3{
  font-weight:bold;
    border:none;
  }
  
  #content h3{
  text-align:center;
  }
  
  #content h4{
    font-weight:bold;
    color:#808080;
    border:none;
    font-size:18px;
    line-height:19px;
    margin-bottom:10px;
    padding-bottom:0px;
    text-decoration:underline;
  }
  
  #content h4.active {
    color:black;
    
  }
  
  #content p{
  text-align:left;
  }
  
</style>

<script type="text/javascript">
  
    $(document).ready(function(){
    
    //Function for toggling down the National Holidays
    $("#nat").click(function(){
    $(".nat").toggle();
});
      
    $('.fake-link').on('click', function() {
      $('h4').removeClass('active');
      $('.' + $(this).attr('id')).addClass('active');
    });
      
   //Functions for redirect from index links to corresponding answers 
    $("#order1").click(function(){
    $('html, body').animate({ scrollTop: $(".order1").offset().top - 200}, 'slow');
});
    $("#order2").click(function(){
    $('html, body').animate({ scrollTop: $(".order2").offset().top - 200}, 'slow');
});
    $("#order3").click(function(){
    $('html, body').animate({ scrollTop: $(".order3").offset().top - 200}, 'slow');
});
    $("#order4").click(function(){
    $('html, body').animate({ scrollTop: $(".order4").offset().top - 200}, 'slow');
});
    $("#order5").click(function(){
    $('html, body').animate({ scrollTop: $(".order5").offset().top - 200}, 'slow');
});
    $("#order6").click(function(){
    $('html, body').animate({ scrollTop: $(".order6").offset().top - 200}, 'slow');
});
    $("#order7").click(function(){
    $('html, body').animate({ scrollTop: $(".order7").offset().top - 200}, 'slow');
});
    $("#order8").click(function(){
    $('html, body').animate({ scrollTop: $(".order8").offset().top - 200}, 'slow');
});
    $("#order9").click(function(){
    $('html, body').animate({ scrollTop: $(".order9").offset().top - 200}, 'slow');
});
    $("#order10").click(function(){
    $('html, body').animate({ scrollTop: $(".order10").offset().top - 200}, 'slow');
});
    $("#order11").click(function(){
    $('html, body').animate({ scrollTop: $(".order11").offset().top - 200}, 'slow');
});
      
    $("#product1").click(function(){
    $('html, body').animate({ scrollTop: $(".product1").offset().top - 200}, 'slow');
});
    $("#product2").click(function(){
    $('html, body').animate({ scrollTop: $(".product2").offset().top - 200}, 'slow');
});
    $("#product3").click(function(){
    $('html, body').animate({ scrollTop: $(".product3").offset().top - 200}, 'slow');
});
    $("#product4").click(function(){
    $('html, body').animate({ scrollTop: $(".product4").offset().top - 200}, 'slow');
});
    $("#product5").click(function(){
    $('html, body').animate({ scrollTop: $(".product5").offset().top - 200}, 'slow');
});
    $("#product6").click(function(){
    $('html, body').animate({ scrollTop: $(".product6").offset().top - 200}, 'slow');
});
    $("#product7").click(function(){
    $('html, body').animate({ scrollTop: $(".product7").offset().top - 200}, 'slow');
});
    $("#product8").click(function(){
    $('html, body').animate({ scrollTop: $(".product8").offset().top - 200}, 'slow');
});
      $("#product9").click(function(){
    $('html, body').animate({ scrollTop: $(".product9").offset().top - 200}, 'slow');
});
      
    $("#ship1").click(function(){
    $('html, body').animate({ scrollTop: $(".ship1").offset().top - 200}, 'slow');
});
    $("#ship2").click(function(){
    $('html, body').animate({ scrollTop: $(".ship2").offset().top - 200}, 'slow');
});
    $("#ship3").click(function(){
    $('html, body').animate({ scrollTop: $(".ship3").offset().top - 200}, 'slow');
});
    $("#ship4").click(function(){
    $('html, body').animate({ scrollTop: $(".ship4").offset().top - 200}, 'slow');
});

    $("#email1").click(function(){
    $('html, body').animate({ scrollTop: $(".email1").offset().top - 200}, 'slow');
});
    $("#email2").click(function(){
    $('html, body').animate({ scrollTop: $(".email2").offset().top - 200}, 'slow');
});
      
    $("#affiliate1").click(function(){
    $('html, body').animate({ scrollTop: $(".affiliate1").offset().top - 200}, 'slow');
});
    $("#affiliate2").click(function(){
    $('html, body').animate({ scrollTop: $(".affiliate2").offset().top - 200}, 'slow');
});
      
    $("#top").click(function(){
    $('html, body').animate({ scrollTop: $(".handbook").offset().top - 200}, 'slow');
});
    });


    
</script>