<div class="sixteen columns">
  <div class="section clearfix">
    <div class="teamMembersCEO">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/harrisonrichards-01.jpg?v=1612385581"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Harrison Richards</strong><br>
          Founder & CEO<br>
          <i>he/him</i><br><br>
          Harrison is the founder and CEO of Furls. He made the first Furls hook in his parent’s garage
          when he was 18 years old and has grown Furls to a company with sales in 94+ countries, 20+
          amazing employees, and almost 500,000 luxury crochet hooks sold! Harrison
          loves
          entrepreneurship,
          art, surrealism, programming, and chicken wings.
        </span>
      </p>
    </div>
    <div class="teamMembersCOO">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/lorene-bio.jpg?v=1612387193"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Lorene Eppolite</strong><br>
          COO & Creative Director<br>
          <i>she/her</i><br><br>
          Lorene is the COO and Creative Director for Furls Crochet. She has been part of the Furls team since 2015. Lorene
          is also the designer behind Cre8tion Crochet and a founding member and designer of Crochet Foundry
          Magazine. Lorene’s current favorite Furls hook is the Odyssey line, her current favorite color is Silver.
          Candy Shops were her first love and Alpha Acrylic Swirls also hold a special place in her heart.
        </span>
      </p>
    </div>
    <h2>Administrative</h2>
    <div class="teamMembersEveryone">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/brenna-headshot-square_4bfc56ca-5bd9-450c-b4d3-1f01e4643388.jpeg?v=1612385583"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Brenna Eaves</strong><br>
          Director of Products & Graphics<br>
          <i>she/her</i><br><br>
          Brenna is the Director of Products and Graphics for Furls, which means she is responsible for
          the way new Furls goodies look and also things like sale banners and the little illustrations you’ll
          find all over the site. She has been an official part of the
          Furls team since June 2019, but started
          her relationship with Furls through hosting Amigurumi Crochet-Alongs way back in 2016.
          Brenna is also the whole team behind Little Raven Fiber Arts, a hobby business she founded
          when she was 13 years old. Outside of
          graphic design and fiber arts, Brenna really enjoys
          writing, ceramics, growing her own food, and pushing the limits of “too many” houseplants. Her
          favorite Furls hooks are the Odysseys, but the Streamline Swirl Galaxies are a close second.
        </span>
      </p>
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/unnamed.jpg?v=1612446613"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Dianne Hunt</strong><br>
          Affiliate & Wholesale Success Manager<br>
          <i>she/her</i><br><br>
          Dianne has been a team member of Furls since 2018 working in Customer Service, and now Executive Assistant to the CEO. As part of the Customer Service team, Dianne helps to answer any customer service questions to ensure our customers get the best quality experience with Furls. Dianne’s favorite Furls hooks are the Odyssey hooks. While she loves all the colors, her favorite colors in Odyssey are the Turquoise, Pink, and Silver. You can find Dianne crocheting, reading (Harry Potter series is her favorite), or spending time with her family.
        </span>
      </p>
    </div>
    <div class="teamMembersEveryone">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/203488063_6317427421604309_7279989142057636490_n.jpg?v=1624894915"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Jessi Myers</strong><br>
          Full Stack Developer<br>
          <i>she/her</i><br><br>
          Jessi is the full stack developer for Furls. She’s the one who makes everything on the Furls site
          work so smoothly!
          She has been a
          part of Furls
          since August 2020 and is excited for all
          things to come. Her favorite Furls hooks have to be the Streamline Swirl in Supernova and the
          Tunisian hooks! Besides working for Furls and crocheting, she enjoys video games, music, cross
          stitch and embroidery, and spending time with her daughter and husband.
        </span>
      </p>
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/pam-2.jpg?v=1612385580"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Pam Stark</strong><br>
          Director of Marketing<br>
          <i>she/her</i><br><br>
          Pam is the baseball-lovin’, coffee-chuggin’, solo Canadian over at Furls Crochet. Although Pam started at Furls in August 2020 as the Affiliate Manager, she has recently joined a new department as the Director of Marketing. When she isn’t exploring trends and strategizing in her day job, she can be found elsewhere on the web as both the designer and blogger at Sincerely Pam, and co-founder of Crochet Foundry Magazine. Pam’s favorite Furls hook is the Alpha, and her favorite part of getting hooks in the mail is watching her daughter’s face light up as she opens each box. 
        </span>
      </p>
    </div>
    <div class="teamMembersEveryone">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/samhassecretsface.jpeg?v=1612385583"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Samantha Casale</strong><br>
          Project Manager of Furls Crochet<br>
          <i>she/her</i><br><br>
          Samantha is the lady behind all of you favorite ads, from “Dogs crocheting for Christmas” to “Woman who holds her yarn in a papoose like a baby”. She has been with Furls since October 2018 and has enjoyed every bit of watching the company grow into what it is today. Her favorite furls creations are the Yellow Odyssey and Tunisian Hooks. When she’s not filming ads and writing witty emails, she enjoys candle making, crocheting, being lazy with her dog Archie,  boxing, and baking. 
        </span>
      </p>
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/megan-furls-bio-pic.jpg?v=1623336527"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Megan Hicks</strong><br>
          Customer Service Manager<br><br>
          Megan is our Customer Service Manager. She joined the team in 2021 and helps to answer questions, notice trends, and provide overall assurance that our customers get the best quality experience with Furls. Currently, her favorite hooks are the Blue Odyssey and Taurus Swirl. When she’s not crocheting, Megan likes to create things in a number of different mediums including woodwork, watercolor, charcoal, and acrylic. She also loves to travel the world, play hockey, wakeboard, and ride her horse “Tequila”.
        </span>
      </p>
    </div>
    <div class="teamMembersEveryone">
      <p>
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/crystal-bucholz.jpg?v=1623336198"><br>
        <span>
          <strong style="border-bottom:1px solid #000;">Crystal Bucholz</strong><br>
          Creative Director of Crochet Foundry<br>
          <i>she/her</i><br><br>
          Crystal is the Creative Director of Crochet Foundry Magazine. While she enjoys all aspects of her job, Crystal enjoys being able to work with an amazing team to bring the best of the best to such an exceptional crochet community! Though she loves working with all Furls products, her favorite hook is always the one that matches the current project she’s working on… or I should say projects. When Crystal’s not working or crocheting, she enjoys spending time with her husband and three boys.
        </span>
      </p>
    </div>
  </div>
</div>