<div class="sixteen columns">
    <div class="section clearfix productWrapper">
        <div id="product-image" class="eight columns alpha">
          <div class="productImageCarousel">
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419"/>
            </div>
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"/>
            </div>
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158">
            </div>
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337">
            </div>
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218">
            </div>
          </div>
          <div class="productImageControlsWrapper">
            <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
              <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
                <i class="fas fa-arrow-right"></i>
              </span>
            </div>
          </div>

          <div class="thumbnails product_image_col productImageCarouselThumbnails">
            <div class="two columns thumb">
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419"/>
            </div>
            <div class="two columns thumb">
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"/>
            </div>
            <div class="two columns thumb">
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158">
            </div>
            <div class="two columns thumb">
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337">
            </div>
            <div class="two columns thumb">
              <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218">
            </div>
          </div>

          <div class="hookImages">
            <img class="ARIE-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-galaxy-aries-web-square.jpeg"/>
            <img class="PISC-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-pisces-variant-detail-1.jpeg?v=1616013099"/>
            <img class="TAUR-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-galaxy-taurus-web-square.jpeg"/>
            <img class="ANDR-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/AndromedaRGB.jpg"/>
            <img class="VIRG-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/VirgoRGB.jpg?6168"/>
            <img class="CAFE-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/StreamlineSwirl-CAF-image-solo.jpg?9408121496580719708"/>
            <img class="CREM-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/StreamlineSwirl-CRE-image-solo.jpg?9408121496580719708"/>
            <img class="COOK-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirl2-03.jpg?14135319418299272173"/>
            <img class="CHER-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirl2-02.jpg?14135319418299272173"/>
            <img class="TEAK-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/TeakLineup.jpg?7148"/>
            <img class="EBON-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Streamline-Details-02.jpg?9967805318995867301"/>
            <img class="PADK-image" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Padauk-Streamline-01.jpg?10670773597887383540"/>
            <img class="NOVA-image" src="https://cdn.shopify.com/s/files/1/0166/0254/products/streamline-galaxy-supernova-main-web-square_fcca43aa-5b4c-4b76-b42d-38703be44a86.jpg?v=1629818102">
            <img class="SOFL-image" src="https://cdn.shopify.com/s/files/1/0166/0254/products/solar-flare-main-web-square_73a8264c-9177-4df9-bb85-207e79cf2956.jpg?v=1629832411">
          </div>

          <div class="whimsImages">
            <img data-color="PURP" src="https://cdn.shopify.com/s/files/1/0166/0254/files/purple_WORSTED.jpg?v=1605277043">
            <img data-color="TEAL" src="https://cdn.shopify.com/s/files/1/0166/0254/files/teal72.jpg?v=1605277043">
            <img data-color="MUST" src="https://cdn.shopify.com/s/files/1/0166/0254/files/yellow_117cc5da-ac0c-4f3c-bcff-c4d3db7e83b1.jpg?v=1605277043">
            <img data-color="PINK" src="https://cdn.shopify.com/s/files/1/0166/0254/files/pink72.jpg?v=1605277043">
            <img data-color="CHAR" src="https://cdn.shopify.com/s/files/1/0166/0254/files/grey72.jpg?v=1605277043">
            <img data-color="WHIT" src="https://cdn.shopify.com/s/files/1/0166/0254/files/White-Undyed.png?v=1605277043">
            <img data-color="LVDR" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-worsted-lavender-thumb.png?v=1605277042">
            <img data-color="LTBL" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-worsted-periwinkle-thumb.png?v=1605277042">
            <img data-color="GREN" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-worsted-mint-thumb.png?v=1605277041">
            <img data-color="LGRA" src="https://cdn.shopify.com/s/files/1/0166/0254/files/lightGray.jpg?v=1605282348">
            <img data-color="RED"  src="https://cdn.shopify.com/s/files/1/0166/0254/files/red.png?v=1605277043">
            <img data-color="BLUE" src="https://cdn.shopify.com/s/files/1/0166/0254/files/blueHank.jpg?v=1605281276">
          </div>
         </div>

        <div class="eight columns omega">
          <span class='title-mini' style="display:inline-block;"> Hook + Yarn + Patterns</span>
          {%include 'product-form-quarantine-crochet'%}
          <hr/>
          <div class="form-bylines">
            <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
            <p class="alert-byline"></p>
              <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
          </div>
        </div>
    </div>
  
 
<div class="sixteen columns">
<!--   START USPs     -->
<div class="sixteen columns">
  <div class="section clearfix usps">
        <div class="one-third columns alpha">
            <img alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/stay-home.jpg?v=1586456983"/>
          <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">A PERFECT NIGHT IN</h4>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl"><strong>Make staying home *WORK* for you</strong> with a Furls Night In Kit! We've got you covered with the essentials: a gorgeous hook, delicious yarn, and 4 quick, one-skein patterns. <strong>Pour your favorite drink and kick back!</strong> </p>
        </div>
        <div class="one-third columns">
            <img alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
            <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SELF CARE</h4>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Caring for family, loved ones, and the <i>world</i> in this is exhausting. We want to make it easier for you to treat yourself, and remind you that <strong>it's important for you to take care of you</strong>, too! </p>
        </div>
      <div class="one-third columns omega" style="display: flex;flex-direction: column;">
            <i class="fas fa-money-bill-wave" style="font-size: 55px;margin: auto;margin-bottom: 9%;"></i>
            <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">FREE PATTERNS</h4>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl"><strong>Four (4) One-Skein Project Patterns</strong> No need to choose, you get all four! The PDFs will be emailed to you after your order is complete.</p>
        </div>
      </div>
  </div>
<!--   END USPs     -->
 
<!--   VIDEO     -->
    <div class="section clearfix">
    <hr/>
        <div class="twelve columns offset-by-two" style="text-align:center;">
          <div style="padding:20px;" class="wrapper_wrapper">
                <div class="blog_video_wrapper">
                    <iframe src="https://www.youtube.com/embed/6HcZS5_jXcI" frameborder="0" allowfullscreen></iframe> 
              </div>
            </div>
        </div>
    </div>
    
<!-- Customize Kit Gallery -->    
    <div class="sixteen columns">  
    <div class="section clearfix">
      <hr/>
      <h1 style="border:none;margin:none;padding:none;font-weight:bold;"> Customize your kit</h1>
       <!-- FIRST LINE in GALLERY -->
       <div class="productFeatured"> 
         <span>
           <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158"/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Teal yarn + Virgo hook </p>
          </span>
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218"/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Charcoal yarn + Cafe hook </p>
          </span>
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/kit2.jpg?v=1584903667"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Yellow yarn + Cream hook </p>
          </span>
          <span>
            <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Pink yarn + Cookie hook </p>
          </span>
        </div>
     </div>
      </div>
      <!-- SECOND LINE in GALLERY -->
      <div class="productFeatured"> 
        <span>
         <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1_1.jpg?v=1586803746"/>
         <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Pink yarn + Andromeda hook </p>
        </span>
        <span>
         <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1.jpg?v=1586799417"/>
         <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Yellow yarn + Cream hook </p>
        </span>
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"/>
         <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Blue yarn + Andromeda hook </p>
        </span>
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419"/>
         <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Purple yarn + Cream hook </p>
        </span>
    </div>
        </div>
  </div> 
    </div>
  </div> 
    <hr/>
  
    <div class="section clearfix">
      <p style="text-align:center;padding-top:10px;"><input type="submit" value="Get My Kit!" id="cta1" class="action_button" /></p>
  </div>
  
    <div class="section clearfix">
      <hr/>
    <h2 style="margin-bottom:35px;border-top:none;"><strong>De-stress for less</strong></h2>
      <div class="productFeatured">
        <div class="eight columns alpha">
          <h3><strong>Included in the kit:</strong></h3>
          <h3>One (1) Streamline Swirl</h3>
          <p>Go with randomized and grab a <span class="oneClickHook"></span>, or click Customize and choose your size and color.</p>
          <h3>One (1) Skein Whims Merino</h3>
          <p>Go with randomized and grab <span class="oneClickYarn"></span>, or click Customize and choose your weight and color.</p>
          <h3>Four (4) One-Skein Project Patterns</h3>
          <p>No need to choose, you get all four! The PDFs will be emailed to you after your order is complete.</p>
        </div> 
        <div class="eight columns omega">
           <img id="kit-rotation-01" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418"/>
            <script type="text/javascript">
                $(function(){
                  //set frames
                  var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1.jpg?v=1586799417",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1_1.jpg?v=1586803746",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419",
                                "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"
                                   ];
                  //set starting locations
                  var currentFrame = 1;
                  //on load update image and increase current every 100ms
                  window.setInterval(function(){        
                    $("#kit-rotation-01").attr("src",frames[currentFrame]);
                    currentFrame = (currentFrame + 1) % frames.length;
                  }, 2000);
                });
              </script>
          
        </div>
      </div>
      <hr/>
    <h2 style="border-top:none;"><strong>Includes 4 Free Pattern PDFs</strong></h2>
       <div style="padding-top:20px;" class='productFeatured'>
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-OneSkein-CrossedSeamsHat-COVER.jpg?v=1586811903"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl">Crossed Seams Hat </p>
               <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5pxl">G+/4.5mm hook + DK </p>
        </span>
        <span>
         <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-OneSkein-ProjectPouch-COVER.jpg?v=1586814015"/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl">Project Pouch </p>
              <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5pxl">H/5.0mm hook + Worsted </p>
        </span>
        <span>
         <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-Whims-CrossbodyBag-FULL.jpg?v=1585926481"/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl">Crossbody Bag </p>
              <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5pxl">I/5.5mm hook + DK </p>
        </span>
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-OneSkein-PrincessCowl-2COVER.jpg?v=1586896447"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl">Princess Cowl </p>
               <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5pxl">J/6.0mm hook + DK </p>
        </span>
     </div>
  </div>
  <hr/>
    <div class="section clearfix">
      <p style="text-align:center;padding-top:10px;"><input type="submit" value="Assemble My Goodies" id="cta2" class="action_button" /></p>
  </div>

</div>

{{ 'quarantineCrochet.css' | asset_url | stylesheet_tag }}

{%include 'quarantine-crochet-scripts'%}
