<div class="sixteen columns">
  <div class="section clearfix">  
    <div class="giftSetWrapper">
      <div class="streamlineGiftSet">
        <a href="/pages/streamline-wood-gift-sets">
          <h2>Streamline Wood</h2>
          <h3>3, 5, and 8 hook set</h3>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-set-web-square-8.jpeg?v=1608046692">
        </a>
      </div>

      <div class="streamlineGiftSet">
        <a href="/pages/streamline-swirl-sets">
          <h2>Streamline Swirl</h2>
          <h3>3, 5, and 8 hook set</h3>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/8-hook-swirl-cropped.jpg?v=1620323109">
        </a>
      </div>

      <div class="odysseyGiftSet">
        <a href="/pages/odyssey-gift-set">
          <h2>Odyssey</h2>
          <h3>3, 5, and 8 hook set</h3>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </a>
      </div>
    </div>
  </div>
</div>

{{ 'hookSets.css' | asset_url | stylesheet_tag }}