<form id="email_signup_wander" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <span class="email_signup_wander_header">
     Sign up for emails to receive 20% off this palette pack!
  </span>
  <input type="hidden" name="g" value="RxUnFY">
  <input type="hidden" name="$fields" value="$fav_hook, $wander_pack"/>
  <div class="email-signup-wander_inputs">
    <input type="hidden" value="" name="$fav_hook" />
    <input type="hidden" value="" name="$wander_pack" />
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="action_button">Sign Up</button>
  </div>
</form>
<style>
.klaviyo_styling.klaviyo_standard_embed_YvvGEC,
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC {
  font-family: inherit;
}.klaviyo_styling.klaviyo_standard_embed_YvvGEC label,
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC label {
  
}.klaviyo_styling.klaviyo_standard_embed_YvvGEC input[type=text],
.klaviyo_styling.klaviyo_standard_embed_YvvGEC input[type=email],
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC input[type=text],
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC input[type=email] {
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_YvvGEC .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC .klaviyo_submit_button {
  
  border-radius: undefined;
}.klaviyo_styling.klaviyo_standard_embed_YvvGEC .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_standard_embed_YvvGEC .klaviyo_submit_button:hover {
  
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

<!-- ENTER JAVASCRIPT ACTIONS + EXTRA DETAILS -->
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_wander', {
    hide_form_on_success: true,
    success_message: "Thanks for subscribing! Check your email for your discount code.",
    extra_properties: {
      $source: 'email-signup-wander'
    },
     success: function ($form) {
       $('.email_signup_wander_header').hide();
       $('.email-signup-wander_inputs').hide();
       $(".points-wrapper").slideUp();
     }
  });
</script>