<div class="sixteen columns">
  <div class="section clearfix productWrapper">

    <div id="product-image" class="eight columns alpha">
      <!-- product images -->
      <div class="productImageCarousel">
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div>
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
      <div class="productImageControlsWrapper">
        <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
          <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>

      <div class="thumbnails product_image_col productImageCarouselThumbnails">
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-blue.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-set-web-square-rainbow-fan.jpeg?v=1608046124"/>
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-3.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-5.jpeg?v=1608060403">
        </div>
        <div class="two columns thumb">
          <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-web-square-sets-8.jpeg?v=1608060466">
        </div>
      </div>
    </div>

    <div class="eight columns omega">
      <span class='title-mini' style="display:inline-block;">Mixed Hooks - Special Savings</span>
      {%include 'product-form-odyssey-gift-set'%}
      <hr/>
      <div class="form-bylines">
        <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
        <p class="alert-byline"></p>
          <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
      </div>
    </div>
  </div>
</div>
<!--USPs -->
<div class="sixteen columns description">
  
  <div class="section clearfix productFeatured">
    <span>
        <img loading="lazy" alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/dolla-dolla-USP.jpg?v=1606855420"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SIMPLE SAVINGS</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">The savings just keep getting sweeter the more hooks you grab! </p>
    </span>
    <span>
        <img loading="lazy" alt="hand love illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">EASY GIFTGIVING</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Go "One-Click" for a shuffled selection of colors in the most popular sizes, or choose "Customize" to curate a set of your own. </p>
    </span>
    <span>
        <img loading="lazy" alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/five-odysseys-circled-USP.jpg?v=1606855420"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">HOOKS YOU LOVE – BUNDLED</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Now it's easier than ever to make sure you – or a lucky someone – have got hand-healthy ergonomics in every size. </p>
    </span>
  </div>
</div>
      <hr/>
  <div class="sixteen columns">
    <div class="section clearfix productFeatured">
      <div class="eight columns alpha">
        <h1 style="margin-bottom:35px;letter-spacing:2px;font-weight:bold;">About Odyssey</h1>
      
        <h3>Reliable performance in a rainbow of hues</h3>
          <p>Sturdy and beautifully balanced! The luxury automotive paint that finishes every Odyssey product is filled with sparkle and multi-level color to dazzle the eyes.</p>
        <h3>Strength and Speed</h3>
          <p>The sturdy, frictionless tips and balanced, ergonomic body will have you cruising through your projects.</p>
        <h3>Choose your shine</h3>
          <p>Rose Gold, Nickel, or Gold finishes make for endless, gorgeous combinations.</p>
        <br/>
        <h3 style="font-weight:bold;border:none;">100% satisfaction guarantee</h3>
      </div> 
      
      <div class="eight columns omega">
         <img loading="lazy" id="product-rotation" src="https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-influencer-square-briana-red-gold.jpeg?v=1602798221"/>
      <script type="text/javascript">
          $(function(){
            //set frames
            var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-influencer-square-briana-red-gold.jpeg?v=1602798221",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-peach-square-influencer_-_1.jpg?9299",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-yellow-kepner-square.jpeg?9937",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-lime-green-brianak-square_-_3.jpeg?v=1591113627",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-green-gold1.jpg?9932",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-blue1.jpg?9188",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/briana-k-turquoise-odyssey-wristlet.jpg?v=1584977209",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-purple-nickel1.jpg?9943",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-pink-nickel-influencer-web-square-pamstark.jpeg?v=1602532438",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-black-crochet-hook-ergonomic5.jpg?9943",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-silver-influencer-eppolite.jpeg?v=1607548425",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/odyssey-influencer-square-white-rose.jpeg?v=1602798222"
                             ];
            //set starting locations
            var currentFrame = 1;
            //on load update image and increase current every 100ms
            window.setInterval(function(){        
              $("#product-rotation").attr("src",frames[currentFrame]);
              currentFrame = (currentFrame + 1) % frames.length;
            }, 2000);
          });
        </script>
      </div>
    </div>
  </div>
  <hr/>
  <br/>
   <div class="eight columns alpha offset-by-four">
     <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:17px;"><i class="fa fa-fw fa-quote-left"></i> I LOVE my furls Odyssey hooks ... I have fibromyalgia and arthritis, and have had both carpal tunnel releases done, <strong>but with these hooks I can crochet as long as I want with no fatigue or pain.</strong> THANK YOU SO MUCH for a spectacular product. <i class="fa fa-fw fa-quote-right"></i></p>
            <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:17px;"><strong><i class="fa fa-fw fa-user"></i> Donna H. </strong></p>
     <p></p> 
  </div>

{%include 'odyssey-gift-set-scripts'%}
{{ 'hookSets.css' | asset_url | stylesheet_tag }}