<form id="checkout-table">
  <div class="buttonOptions">
     <span id="ThreeHookSet" class="hookSetButtons">3 hook set - $69</span><br>
     <span id="FiveHookSet" class="hookSetButtons">5 hook set - $108</span><br>
     <span id="EightHookSet" class="hookSetButtons">8 hook set - $164</span>
  </div>

  <div class="setOptions">
    <span class="backButton auto-hide"><< BACK</span>
    <div id="ThreeHookSetDetails" class="hookSetDetails auto-hide">
      <span class="header">3 hook set - 5% off</span><br>
      <span class="miniHeader">normally $72 - now <span class="currentPrice">$69</span></span>
      <span class="oneClickIncludes"><br>** includes Streamline Swirl </span><br>
      <span class="alternatively"><p><i>- OR -</i></p></span>
      <span class="customClickButton">Customize Set</span>
    </div>
    <div id="FiveHookSetDetails" class="hookSetDetails auto-hide">
      <span class="header">5 hook set - 10% off</span><br>
      <span class="miniHeader">normally $120 - now <span class="currentPrice">$108</span></span>
      <span class="oneClickIncludes"><br>** includes Streamline Swirl </span><br>
      <span class="alternatively"><p><i>- OR -</i></p></span>
      <span class="customClickButton">Customize Set</span>
    </div>
    <div id="EightHookSetDetails" class="hookSetDetails auto-hide">
      <span class="header">8 hook set - 15% off</span><br>
      <span class="miniHeader">normally $192 - now <span class="currentPrice">$164</span></span>
      <span class="oneClickIncludes"><br>** includes Streamline Swirl </span>
      <span class="alternatively"><p><i>- OR -</i></p></span>
      <span class="customClickButton">Customize Set</span>
    </div>

    <button type="submit" class="checkout_button auto-hide">
      <div class='sp-mini sp-circle auto-hide'></div>
      ONE CLICK CHECKOUT
    </button>
  </div>

  <div class="customSetDetails">
    <span class="backButton auto-hide"><< BACK</span>
    <div id="ThreeHookSetCustom" class="hookSetCustomize auto-hide">
      <span class="header">5% off</span><br>
      <span class="miniHeader">normally $72 - now <span class="currentPrice">$69</span></span>
    </div>
    <div id="FiveHookSetCustom" class="hookSetCustomize auto-hide">
      <span class="header">10% off</span><br>
      <span class="miniHeader">normally $120 - now <span class="currentPrice">$108</span></span>
    </div>
    <div id="EightHookSetCustom" class="hookSetCustomize auto-hide">
      <span class="header">15% off</span><br>
      <span class="miniHeader">normally $192 - now <span class="currentPrice">$164</span></span>
    </div>
    <div class='details-container auto-hide' id="variantsContainer">
      <div class="hook-container">
        <div class="hookButtonsWrapper"> 
          <span class="hookButtons hookButtonOption1 auto-hide" data-hook-num="1" data-chosen='chosen'>Hook 1</span>
          <span class="hookButtons hookButtonOption2 auto-hide" data-hook-num="2" data-chosen='false'>Hook 2</span>
          <span class="hookButtons hookButtonOption3 auto-hide" data-hook-num="3" data-chosen='false'>Hook 3</span>
          <span class="hookButtons hookButtonOption4 auto-hide" data-hook-num="4" data-chosen='false'>Hook 4</span>
          <span class="hookButtons hookButtonOption5 auto-hide" data-hook-num="5" data-chosen='false'>Hook 5</span>
          <span class="hookButtons hookButtonOption6 auto-hide" data-hook-num="6" data-chosen='false'>Hook 6</span>
          <span class="hookButtons hookButtonOption7 auto-hide" data-hook-num="7" data-chosen='false'>Hook 7</span>
          <span class="hookButtons hookButtonOption8 auto-hide" data-hook-num="8" data-chosen='false'>Hook 8</span>
        </div>
        <div class="hook-checkout">
          <div class="hook-variants-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</form>
