<form id="checkout-table">
  <p class="variant-details shipping-amount wanderAdventureKitTitle" style="text-align:center;font-size:24px;"> 
    <strong>$34.00</strong>
  </p>
  <div class="buttonOptions wanderAdventureKitWrapper">
    <div>
      <span class="wanderPackOptions pisces auto-hide">Pisces<br> Kit</span>
      <span class="wanderPackOptions virgo auto-hide">Virgo<br> Kit</span>
    </div>
    <div>
      <span class="wanderPackOptions cookies auto-hide">Cookies N Cream<br> Kit</span>
      <span class="wanderPackOptions taurus auto-hide">Taurus<br> Kit</span>
    </div>
    <div>
      <span class="wanderPackOptions supernova auto-hide">Supernova<br> Kit</span>
      <span class="wanderPackOptions cherry auto-hide">Cherry<br> Kit</span>
    </div>
    <div>
      <span class="wanderPackOptions cream auto-hide">Cream<br> Kit</span>
      <span class="wanderPackOptions cafe auto-hide">Cafe<br> Kit</span>
    </div>
    <div>
      <span class="wanderPackOptions aries auto-hide">Aries<br> Kit</span>
      <span class="wanderPackOptions andromeda auto-hide">Andromeda<br> Kit</span>
    </div>
    <div>
      <span class="wanderPackOptions soldOut">Sold Out</span>
    </div>
  </div>

  <div class="packOptions wanderAdventureKitDetailWrapper">
    <span class="backButton auto-hide"><< BACK</span>
    <div id="piscesDetails" class="packDetails auto-hide">
      <span class="header">Pisces Kit</span><br>
      <span class="packIncludes">Pisces crochet hook, Midnight, Mist</span>
      <div class="PISC"></div>
    </div>
    <div id="cookiesDetails" class="packDetails auto-hide">
      <span class="header">Cookies N' Cream Kit</span><br>
      <span class="packIncludes">Cookie crochet hook, Obsidian, Alabaster</span>
      <div class="COOK"></div>
    </div>
    <div id="virgoDetails" class="packDetails auto-hide">
      <span class="header">Virgo Kit</span><br>
      <span class="packIncludes">Virgo crochet hook, Midnight, Conifer</span>
      <div class="VIRG"></div>
    </div>
    <div id="taurusDetails" class="packDetails auto-hide">
      <span class="header">Taurus Kit</span><br>
      <span class="packIncludes">Taurus crochet hook, Bergamot, Amethyst</span>
      <div class="TAUR"></div>
    </div>
    <div id="supernovaDetails" class="packDetails auto-hide">
      <span class="header">Supernova Kit</span><br>
      <span class="packIncludes">Supernova crochet hook, Midnight, Peninsula</span>
      <div class="NOVA"></div>
    </div>
    <div id="cherryDetails" class="packDetails auto-hide">
      <span class="header">Cherry Kit</span><br>
      <span class="packIncludes">Cherry crochet hook, Pomegranate, Alabaster</span>
      <div class="CHER"></div>
    </div>
    <div id="creamDetails" class="packDetails auto-hide">
      <span class="header">Cream Kit</span><br>
      <span class="packIncludes">Cream crochet hook, Snow, Alabaster</span>
      <div class="CREM"></div>
    </div>
    <div id="cafeDetails" class="packDetails auto-hide">
      <span class="header">Cafe Kit</span><br>
      <span class="packIncludes">Cafe crochet hook, Snow, Mahogany</span>
      <div class="CAFE"></div>
    </div>
    <div id="ariesDetails" class="packDetails auto-hide">
      <span class="header">Aries Kit</span><br>
      <span class="packIncludes">Aries crochet hook, Pomegranate, Velvet</span>
      <div class="ARIE"></div>
    </div>
    <div id="andromedaDetails" class="packDetails auto-hide">
      <span class="header">Andromeda Kit</span><br>
      <span class="packIncludes">Andromeda crochet hook, Sunrise, Tundra</span>
      <div class="ANDR"></div>
    </div>

    <button type="submit" class="checkout_button auto-hide">
      ADD TO CART<br>
      <div class='sp-mini sp-circle auto-hide'>&nbsp;</div>
    </button>
  </div>
</form>
