<form id="checkout-table">
  <p class="variant-details shipping-amount" style="text-align:center;font-size:24px;"> 
    <strong class="totalPrice">$43.00 - $46.00</strong>
  </p>
  <div class="customOptions">
    <form id="checkout-table">
      <div id="whims-checkout-table" class="variants-table">
        <div class="yarnDetails">
          <strong>DK Whims Merino</strong>
          <p style="font-family:'Montserrat', sans-serif;margin-bottom:2px;"> fine superwash merino + nylon, 50/50 </p>
          <p style="font-family:'Montserrat', sans-serif;margin-bottom:6px;"> 100g (3.5oz), 200yds (182m) </p>
        </div>
        <div class="DK-tbody" style="display:inline;"></div>
      </div>

      <div id="needles-checkout-table" class="variants-table">
        <div class="needleDetails">
          <strong>Furls Knitting Needles</strong>
          <p style="font-family:'Montserrat', sans-serif;margin-bottom:2px;"> Single Point - 10" </p>
          <p style="font-family:'Montserrat', sans-serif;margin-bottom:2px;"> Size 5.5mm, US 9 </p>
        </div>
        <div class="NEEDLE-tbody" style="display:inline;"></div>
      </div>

      <input type="hidden" class="product-size-variant" data-variantid="39408886939715" value="1" min="0" max="0"/>

      <button type="submit" class="checkout_button action_button">ADD TO CART</button>
    </form>
  </div>
</form>
