<form id="checkout-table">
  <p class="variant-details shipping-amount title-mini" style="text-align:center;"> 
    <strong>$34.00</strong>
  </p>
  <div  class="details-wrapper">
    
      <div class='details-container auto-hide'>
          <span class="pull-right close-cart"><i class="fa fa-fw fa-times fake-link"></i></span>
          <div  class="hook-container">
            <p class="variant-details">1. Choose hook color:</p>
            <div class="hook-checkout">
              <div class="hook-variants-wrapper"></div>
            </div>
          </div>
          <div class="skein-container">
            <p class="variant-details">3. Choose yarn weight:</p>
            <div class="skein-checkout">
              <div class="skein-variants-wrapper"></div>
            </div>
          </div>
        </div>

      <div class="purchase">
          <input type="hidden" class="product-size-variant" data-variantid="31517066428483" value="1" min="0" max="0"/>
          <input type='submit' class='action_button' id='one-click' value='BUY RANDOMIZED KIT'/>
          <div class='sp-mini sp-circle'></div>
      </div>
    
    <p id='customize-cart' class="variant-details fake-link details-close action_button"><strong>BUILD MY OWN KIT</strong></p>

  </div>
</form>
