<form id="checkout-table">
  <p class="variant-details shipping-amount" style="text-align:center;font-size:24px;"> 
    <strong>$22.25</strong>
  </p>
  <div class="buttonFirst">
    <span class="action_button oneClick">One Click Packs</span>
    <span id="customize-cart" class="action_button">Choose Your Own</span>
  </div>
  <div class="buttonOptions auto-hide">
    <span class="backButton auto-hide"><< BACK</span>
    <span class="wanderPackOptions autumn" data-color='autumn'>
      <span class="title">Autumn</span><br>
      <span class="packIncludes">Dragonfruit, Thatch, Velvet, Snow, Ambrosia</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions awaken" data-color='awaken'>
      <span class="title">Awaken</span><br>
      <span class="packIncludes">Canary, Midnight, Mist, Pomegranate, Meadow</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions daydreamer auto-hide" data-color='daydreamer'>
      <span class="title">Daydreamer</span><br>
      <span class="packIncludes">Snow, Sunrise, Surf, Mist, Amethyst</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions embrace auto-hide" data-color='embrace'>
      <span class="title">Embrace</span><br>
      <span class="packIncludes">Snow, Sunrise, Pomegranate, Dragonfruit, Velvet</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions hygge auto-hide" data-color='hygge'>
      <span class="title">Hygge</span><br>
      <span class="packIncludes">Snow x 2, Mist x 2, Cobblestone</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions retro" data-color='retro'>
      <span class="title">Retro</span><br>
      <span class="packIncludes">Sunrise, Canary, Dragonfruit, Ambrosia, Thatch</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions suncatcher auto-hide" data-color='suncatcher'>
      <span class="title">Suncatcher</span><br>
      <span class="packIncludes">Pomegranate, Thatch, Meadow, Midnight, Amethyst</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions sunset auto-hide" data-color='sunset'>
      <span class="title">Sunset</span><br>
      <span class="packIncludes">Thatch, Velvet, Snow, Sunrise, Canary</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions terra" data-color='terra'>
      <span class="title">Terra</span><br>
      <span class="packIncludes">Snow, Meadow, Thatch, Midnight, Mist</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions tidal" data-color='tidal'>
      <span class="title">Tidal</span><br>
      <span class="packIncludes">Midnight, Surf, Snow, Cobblestone, Mist</span>
      <div class='sp-mini sp-circle auto-hide'></div>
    </span>
    <span class="wanderPackOptions soldOut">Sold Out</span>
  </div>

  <div class="customOptions auto-hide">
    <span class="backButton auto-hide"><< BACK</span>
    <form id="checkout-table">
      <div class='details-container' id="variantsContainer">
        <div class="yarn-container">
          <div class="yarnButtonsWrapper"> 
            <span class="yarnButtons yarnButtonOption1" data-yarn-num="1" data-chosen='chosen'>Skein 1</span>
            <span class="yarnButtons yarnButtonOption2" data-yarn-num="2" data-chosen='false'>Skein 2</span>
            <span class="yarnButtons yarnButtonOption3" data-yarn-num="3" data-chosen='false'>Skein 3</span>
            <span class="yarnButtons yarnButtonOption4" data-yarn-num="4" data-chosen='false'>Skein 4</span>
            <span class="yarnButtons yarnButtonOption5" data-yarn-num="5" data-chosen='false'>Skein 5</span>
          </div>
          <div class="yarn-checkout">
            <div class="yarn-variants-wrapper"></div>
          </div>
        </div>

        <span class="chosenSkeins">
          Your Skeins:
          <span data-num='1'></span>
          <span data-num='2'></span>
          <span data-num='3'></span>
          <span data-num='4'></span>
          <span data-num='5'></span>
        </span>

      </div>

      <input type="hidden" class="product-size-variant" data-variantid="39278454407235" value="1" min="0" max="0"/>
      <button type="submit" class="checkout_button">ADD TO CART</button>
    </form>
  </div>
</form>
