<form id="checkout-table">
  <div class="buttonOptions">
    <div>
      <span data-color='voyage' class="wanderPackOptions voyage">Voyage</span>
      <span data-color='allium' class="wanderPackOptions allium">Allium</span>
      <span data-color='calathea' class="wanderPackOptions calathea">Calathea</span>
    </div>
    <div>
      <span data-color='glacier' class="wanderPackOptions glacier">Glacier</span>
      <span data-color='macaw' class="wanderPackOptions macaw">Macaw</span>
    </div>
  </div>

  <div class="packOptions">
    <span class="backButton auto-hide"><< BACK</span>
    <div id="voyageDetails" class="packDetails auto-hide">
      <span class="header">Voyage</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Sandbar, Laguna, Ambrosia, Sunrise, Fawn</span>
    </div>
    <div id="alliumDetails" class="packDetails auto-hide">
      <span class="header">Allium</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Bergamot, Orchid, Amethyst, Festival, Aurora</span>
    </div>
    <div id="calatheaDetails" class="packDetails auto-hide">
      <span class="header">Calathea</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Moonbeam, Patina, Velvet, Dragonfruit, Meadow</span>
    </div>
    <div id="glacierDetails" class="packDetails auto-hide">
      <span class="header">Glacier</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Tundra, Mist, Snow, Alabaster, Peninsula</span>
    </div>
    <div id="macawDetails" class="packDetails auto-hide">
      <span class="header">Macaw</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Midnight, Conifer, Canary, Campfire, Pomegranate</span>
    </div>
    <div id="autumnDetails" class="packDetails auto-hide">
      <span class="header">Autumn</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Dragonfruit, Thatch, Velvet, Snow, Ambrosia</span>
    </div>
    <div id="awakenDetails" class="packDetails auto-hide">
      <span class="header">Awaken</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Canary, Midnight, Mist, Pomegranate, Meadow</span>
    </div>
    <div id="daydreamerDetails" class="packDetails auto-hide">
      <span class="header">Daydreamer</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow, Sunrise, Surf, Mist, Amethyst</span>
    </div>
    <div id="embraceDetails" class="packDetails auto-hide">
      <span class="header">Embrace</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow, Sunrise, Pomegranate, Dragonfruit, Velvet</span>
    </div>
    <div id="hyggeDetails" class="packDetails auto-hide">
      <span class="header">Hygge</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow x 2, Mist x 2, Cobblestone</span>
    </div>
    <div id="interludeDetails" class="packDetails auto-hide">
      <span class="header">Interlude</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow, Bergamot, Sandbar, Tundra, Mist</span>
    </div>
    <div id="galaxyDetails" class="packDetails auto-hide">
      <span class="header">Galaxy</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Obsidian x 2, Bergamot, Amethyst, Peninsula</span>
    </div>
    <div id="lichenDetails" class="packDetails auto-hide">
      <span class="header">Lichen</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Alabaster, Tundra, Peninsula, Surf, Conifer</span>
    </div>
    <div id="retroDetails" class="packDetails auto-hide">
      <span class="header">Retro</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Sunrise, Canary, Dragonfruit, Ambrosia, Thatch</span>
    </div>
    <div id="suncatcherDetails" class="packDetails auto-hide">
      <span class="header">Suncatcher</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Pomegranate, Thatch, Meadow, Midnight, Amethyst</span>
    </div>
    <div id="sunsetDetails" class="packDetails auto-hide">
      <span class="header">Sunset</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Thatch, Velvet, Snow, Sunrise, Canary</span>
    </div>
    <div id="terraDetails" class="packDetails auto-hide">
      <span class="header">Terra</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow, Meadow, Thatch, Midnight, Mist</span>
    </div>
    <div id="tidalDetails" class="packDetails auto-hide">
      <span class="header">Tidal</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Midnight, Surf, Snow, Cobblestone, Mist</span>
    </div>
    <div id="wisdomDetails" class="packDetails auto-hide">
      <span class="header">Wisdom</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Snow, Sandbar, Fawn, Cocoa, Mahogany</span>
    </div>
    <div id="whimsyDetails" class="packDetails auto-hide">
      <span class="header">Whimsy</span><br>
      <span class="subheader">contains</span>
      <span class="packIncludes">Sunrise, Canary, Peninsula, Dragonfruit, Bergamot</span>
    </div>

    <input type="hidden" class="product-size-variant" data-variantid="4619450187843" value="1" min="0" max="0"/>
    <button type="submit" class="checkout_button auto-hide">ADD TO CART</button>
  </div>
</form>
