<div class="sixteen columns spooky">
  <div class="section clearfix">
    <div class="dancing-punkins-banner" style="max-height:300px;">
      <a href="">
        <!--  SALE IMAGE 1 URL   -->
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/spooky-punkins-banner-1.jpg?v=1601585150"/>
      </a>

       <a href="">
        <!--  SALE IMAGE 2 URL   -->
        <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/spooky-punkins-banner-2.jpg?v=1601585150"/>
      </a>
    </div>
  </div>
</div>

<div id="patterns_wrapper" class="sixteen columns spooky">
  <div class="section clearfix">
    
<!--  PDFs below   -->

    <!-- Begin -->
  <div class='eight columns alpha'>
    <div class='four columns alpha'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-2009-Monsters-Laing-AmiBonus-FULL.pdf?v=1601663839' target='_blank'>
      <img loading="lazy" style='border:1px solid #d3d3d3;' src='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-2009-Monsters-Laing-AmiBonus-COVER.jpg?v=1601663837'/>
    </a>
    </div>
  <div class='four columns omega'>
    <h3><span>Amigurumi Little Monsters</span> by Jackie Laing</h3>
    <p class='pattern-link'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-2009-Monsters-Laing-AmiBonus-FULL.pdf?v=1601663839' target='_blank'>Full Version</a>
- <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-2009-Monsters-Laing-AmiBonus-PRINTEASY.pdf?v=1601663838' target='_blank'>Print Easy Version</a>
    </p>
    <p class='pattern-support-link'>Website: <a href='https://amidorablecrochet.ca'>https://amidorablecrochet.ca</a><br></p> 
  </div>
  </div>
    <!-- End -->
    <!-- Begin -->
      <div class='eight columns omega'>
    <div class='four columns alpha'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Bats-1910-AmiCAL-FULL.pdf?15021' target='_blank'>
      <img loading="lazy" style='border:1px solid #d3d3d3;' src='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Bats-1910-AmiCAL-COVER.jpg?v=1577480483'/>
    </a>
    </div>
  <div class='four columns omega'>
    <h3><span>Amigurumi Bats</span> by Brenna Eaves</h3>
    <p class='pattern-link'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Bats-1910-AmiCAL-FULL.pdf?15021' target='_blank'>Full Version</a>
    - <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Bats-1910-AmiCAL-PRINTEASY.pdf?15021' target='_blank'>Print Easy Version</a>
    </p>
    <p class='pattern-support-link'>Website: <a href='https://littleravenfiberarts.etsy.com'>https://littleravenfiberarts.etsy.com</a><br></p>
  </div>
  </div>
     <!-- End -->
    <hr/>
    
   
    <!-- Begin -->
  <div class='eight columns alpha'>
    <div class='four columns alpha'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-1910-SpookyVest-FULL.pdf?15021' target='_blank'>
      <img loading="lazy" style='border:1px solid #d3d3d3;' src='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-1910-SpookyVest-COVER.jpg?v=1577480518'/>
    </a>
    </div>
  <div class='four columns omega'>
    <h3><span>Spooky Vest</span> by Samantha Casale</h3>
    <p class='pattern-link'>
    <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-1910-SpookyVest-FULL.pdf?15021' target='_blank'>Full Version</a>
- <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-1910-SpookyVest-PRINTEASY.pdf?15021' target='_blank'>Print Easy Version</a>
          - <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-1910-SpookyVest-CHARTS.pdf?15030' target='_blank'>JUST THE CHARTS PDF</a>
    </p>
    <p class='pattern-support-link'>Website: <a href='https://casalecrafts.com'>https://casalecrafts.com</a><br></p>
  </div>
  </div>
     <!-- End -->

    
<!-- Begin Left -->
    <div class='eight columns omega'>
      <div class='four columns alpha'><a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Vincent-_Frankie_Mermaid.pdf?13761725805636134745' target='_blank'> <img style='border:1px solid #d3d3d3;' src='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Vincent-_Frankie_Mermaid_COVER.jpg?13761725805636134745'/></a> 
      </div>
      <div class='four columns omega'><h3><span>Amigurumi Mermaid</span> by Vincent Greene-Haite</h3><p class='pattern-link'> <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Vincent-_Frankie_Mermaid_PRINTEASY.pdf?13761725805636134745' target='_blank'>Full Version</a> - <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Vincent-_Frankie_Mermaid.pdf?13761725805636134745' target='_blank'>Print Easy Version</a></p>  <p class='pattern-support-link'>Website: <a href='https://www.knotbadami.com'>https://www.knotbadami.com</a><br></p> 
      </div>
    </div> 
        <hr/>

      <div class='eight columns alpha'>
        <div class='four columns alpha'><a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Jackie-_Pumpkins.pdf?13761725805636134745' target='_blank'> <img style='border:1px solid #d3d3d3;' src='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Jackie-_Pumpkins_COVER.jpg?13761725805636134745'/></a> 
        </div>
      <div class='four columns omega'><h3><span>Amigurumi Pumpkins</span> by Jackie Laing</h3><p class='pattern-link'> <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Jackie-_Pumpkins_PRINTEASY.pdf?13761725805636134745' target='_blank'>Full Version</a> - <a href='https://cdn.shopify.com/s/files/1/0166/0254/files/Furls-_Oct-_Jackie-_Pumpkins.pdf?13761725805636134745' target='_blank'>Print Easy Version</a></p>  <p class='pattern-support-link'>Website: <a href='https://amidorablecrochet.ca'>https://amidorablecrochet.ca</a><br></p> 
      </div>
      </div> 


<!-- End Left -->
    
    <!-- Amigurumi Apples    -->
    <div class="eight columns omega">
          <div class="four columns alpha">
            <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Mummy-Apples-pattern.pdf?12137732677794162803" style="display: inline-block;" target="_blank"> 
              <img loading="lazy" style="border:1px solid #d3d3d3;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Mummy-Apples-pattern-01.jpg?12137732677794162803" /> 
            </a> 
          </div>
          <div class="four columns omega">
              <h3><span>Mummy Apples</span> by Jackie Laing</h3>
                <p class="pattern-link"> 
                <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Mummy-Apples-pattern.pdf?12137732677794162803" target="_blank">Full Version</a> 
                </p>  
                <p class="pattern-support-link">
                    Website: <a href="http://amidorablecrochet.ca/" target="_blank">Amidorable Crochet</a><br>
                </p> 
          </div>
      </div>
        <hr/>
    
 <!--  Amigurumi Popsicles  -->
    <div class="eight columns alpha clearfix"><div class="four columns alpha">
            <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Frankenstein-People-pattern.pdf?12137732677794162803" style="display: inline-block;" target="_blank"> 
              <img loading="lazy" style="border:1px solid #d3d3d3;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Frankenstein-People-pattern-01.jpg?12137732677794162803"/>
            </a> 
          </div>
          <div class="four columns omega">
              <h3><span>Frankenstein Popsicles</span> by Jackie Laing</h3>
                <p class="pattern-link"> 
                <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Frankenstein-People-pattern.pdf?12137732677794162803">Full Version</a> 
                </p>  
                <p class="pattern-support-link">
                    Website: <a href="http://amidorablecrochet.ca/" target="_blank">Amidorable Crochet</a><br>
                      Pattern Support: <a href="mailto:amidorablecrochet@gmail.com">amidorablecrochet@gmail.com</a>
                </p> 
          </div>
      </div>
    
     <!--  Amigurumi Elephant  -->
    <div class="eight columns omega clearfix"><div class="four columns alpha">
            <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Halloween-Elephant-pattern.pdf?12137732677794162803" style="display: inline-block;" target="_blank"> 
              <img loading="lazy" style="border:1px solid #d3d3d3;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Halloween-Elephant-pattern-01.jpg?12137732677794162803"/>
            </a> 
          </div>
          <div class="four columns omega">
              <h3><span>Halloween Elephant</span> by J.A. Polvoos</h3>
                <p class="pattern-link">
                <a href="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Amigurumi-Halloween-Elephant-pattern.pdf?12137732677794162803" target="_blank">Full Version</a>
                </p>
                <p class="pattern-support-link">
                    Website: <a href="https://www.ravelry.com/designers/ja-poolvos" target="_blank">J.A. Poolvos on Ravelry</a><br>
                </p> 
          </div>
      </div>
  </div>
</div>

<div class="sixteen columns spooky">
  <div class="dancing-punkins-banner" style="margin-top:10px;">
  
    <a href="">
      <!--  SALE IMAGE 1 URL   -->
      <img loading="lazy" style="transform: scaleX(-1);" src="https://cdn.shopify.com/s/files/1/0166/0254/files/spooky-punkins-banner-1.jpg?v=1601585150"/>
    </a>

     <a href="">
      <!--  SALE IMAGE 2 URL   -->
      <img loading="lazy" style="transform: scaleX(-1);" src="https://cdn.shopify.com/s/files/1/0166/0254/files/spooky-punkins-banner-2.jpg?v=1601585150"/>
    </a>
  
  </div>
</div>
  
<script type="text/javascript">

      //FUNCTIONS FOR BANNERS

$.each($("[class$='-banner']:not(.product-form-banner)"), function(i, banner){
    var imgs = $(banner).find("img"),
        links = $(banner).find("a"),
        speed = parseInt($(banner).attr("data-speed")) || 500,
        counter = 0;

    //show first link
    imgs.eq(counter).closest("a").show();
    //if more than 1 link
    if (imgs.length > 1) {
      
        //set timer to show other links
       var v =  window.setInterval(function(){        
            links.hide();
            imgs.eq(counter).closest("a").show();
            counter = (counter + 1) % imgs.length;

        }, speed);
    };
       
});
</script>

{{ 'blogStyles.css' | asset_url | stylesheet_tag }}
{{ 'freePatterns.css' | asset_url | stylesheet_tag }}