<div class="sixteen columns">
  <div class="section clearfix productWrapper">

    <div id="product-image" class="eight columns alpha">
      <!-- product images -->
      <div class="productImageCarousel">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/3-hook-swirl-crop.jpg?v=1620323109"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/briana-k-streamline-swirls-april-2020-crop.jpg?v=1620323109"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/5-hook-swirl-crop.jpg?v=1620323109"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirls-3-crop.jpg?v=1620323285"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/8-hook-swirl-cropped.jpg?v=1620323109">
        </div>
      </div>
      <div class="productImageControlsWrapper">
        <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
          <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>

      <div class="thumbnails product_image_col productImageCarouselThumbnails">
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/3-hook-swirl-crop.jpg?v=1620323109"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/briana-k-streamline-swirls-april-2020-crop.jpg?v=1620323109"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/5-hook-swirl-crop.jpg?v=1620323109"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirls-3-crop.jpg?v=1620323285"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/8-hook-swirl-cropped.jpg?v=1620323109">
        </div>
      </div>
    </div>

    <div class="eight columns omega">
      <span class='title-mini' style="display:inline-block;">Mixed Hooks - Special Savings</span>
      {%include 'product-form-streamline-swirl-set'%}
      <hr/>
      <div class="form-bylines">
        <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
        <p class="alert-byline"></p>
          <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
      </div>
    </div>
  </div>
</div>
<!--USPs -->
<div class="sixteen columns description">
  <div class="section clearfix productFeatured">
    <span>
        <img alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/dolla-dolla-USP.jpg?v=1606855420"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SIMPLE SAVINGS</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">The savings just keep getting sweeter the more hooks you grab!</p>
    </span>
    <span>
        <img alt="hand love illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">EASY GIFTGIVING</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Go "One-Click" for a shuffled selection of woods in the most popular sizes, or choose "Customize" to curate a set of your own. </p>
    </span>
    <span>
        <img alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/five-streamlines-circled-USP.png?v=1608047684"/>
        <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">HOOKS YOU LOVE – BUNDLED</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Now it's easier than ever to make sure you – or a lucky someone – have got hand-healthy ergonomics in every size. </p>
    </span>
  </div>
</div>

<hr/>

<!--   IMAGE ROTATION + MORE INFO     -->    
    <div class="sixteen columns">
      <div class="section clearfix productFeatured">
       <div class="eight columns alpha">
       <h1 style="margin-bottom:35px;letter-spacing:2px;font-weight:bold;">About Streamline Swirl</h1>
      
        <h3>What are Swirls made out of?</h3>
          <p>Streamline Swirl hooks are first hand cast with a cosmetic-quality resin and resin-based pigments and then turned and carved to the ergonomic Streamline shape.</p>
        <h3>Are Swirls sized?</h3>
          <p>Yes, all Streamline Swirl hooks have their size engraved on the body of the hook just like the wooden Streamlines.</p>
        <h3>Are Swirls the same length as Woodens?</h3>
          <p>Yes, they have the same length, width, and ergonomic proportions as the wooden Streamlines. The resin Streamlines are 0.2 - 0.3 oz heavier than the wooden Streamlines. For comparison, a wooden Streamline is 0.5 oz, a resin Streamline is 0.75 oz, and an Odyssey is 1.5 oz.</p>
      </div>

    <div class="eight columns omega" style="text-align:center;">
  <!--       GIF     -->
    <img id="streamline-image-2" alt="Handmade Crochet Hook Slideshow" src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirl-galaxy-aries-taurus-nemo-seagulls_-_1.jpeg?v=1614355048"/>
      <script type="text/javascript">
          $(function(){
                //set frames
                var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/swirl-galaxy-aries-taurus-nemo-seagulls_-_1.jpeg?v=1614355048",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/VirgoRGB.jpg?v=1614331698",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/pisces-center-focus-square.jpg?v=1616082778",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/AndromedaRGB.jpg?v=1614331698",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/StreamlineSwirl-group.jpg?9408121496580719708"
                             ];
                //set starting locations
                var currentFrame = 1;
                //on load update image and increase current every 100ms
                window.setInterval(function(){        
                      $("#streamline-image-2").attr("src",frames[currentFrame]);
                      currentFrame = (currentFrame + 1) % frames.length;
                  }, 2500);
          });
        </script>
   </div>
  </div>
</div>
<!--   TESTIMONIAL ONE     -->
<div class="sixteen columns">
  <div class="section clearfix">
<hr/><br/>
     <div class="eight columns alpha offset-by-four">
       <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:18px;"><i class="fa fa-fw fa-quote-left"></i> Just got this hook today and I am in love with it. Not only is it better for my right dominant hand but I recently taught myself to crochet with my left hand for certain projects. I was struggling with the comfort of crocheting with the left hand. This hook solved that so it feels more natural. <i class="fa fa-fw fa-quote-right"></i></p>
       <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:18px;"><strong><i class="fa fa-fw fa-user"></i> Jennifer </strong></p>
    <p> </p>
    </div>
  </div>
</div> 


{%include 'streamline-swirl-set-scripts'%}
{{ 'hookSets.css' | asset_url | stylesheet_tag }}
