<div class="sixteen columns">
  <div class="section clearfix productWrapper">
    <div id="product-image" class="eight columns alpha">
      <!-- product images -->
      <div class="productImageCarousel">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-set-web-square-8.jpeg?v=1608046692"/>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-influencer-whiteowl.jpg?v=1600970209">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-set-web-square-ebonies2.jpeg?v=1608046970">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-3.jpeg?v=1608067731">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-5.jpeg?v=1608067731">
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-ebony.jpeg?v=1608067878">
        </div>
      </div>
      <div class="productImageControlsWrapper">
        <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
          <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
      </div>

      <div class="thumbnails product_image_col productImageCarouselThumbnails">
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-set-web-square-8.jpeg?v=1608046692"/>
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-influencer-whiteowl.jpg?v=1600970209">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-set-web-square-ebonies2.jpeg?v=1608046970">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-3.jpeg?v=1608067731">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-5.jpeg?v=1608067731">
        </div>
        <div class="two columns thumb">
          <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-sets-ebony.jpeg?v=1608067878">
        </div>
      </div>
    </div>

    <div class="eight columns omega">
      <span class='title-mini' style="display:inline-block;">Mixed Hooks - Special Savings</span>
      {%include 'product-form-streamline-wood-set'%}
      <hr/>
      <div class="form-bylines">
        <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
        <p class="alert-byline"></p>
          <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
      </div>
    </div>
  </div>
</div>
<!--USPs -->
<div class="sixteen columns description">
  <div class="section clearfix productFeatured">
    <span>
      <img alt="shawl drape illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/dolla-dolla-USP.jpg?v=1606855420"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">SIMPLE SAVINGS</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">The savings just keep getting sweeter the more hooks you grab!</p>
    </span>
    <span>
      <img alt="hand love illustrated icon" style="max-width:100px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/self-care.jpg?v=1586456983"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">EASY GIFTGIVING</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Go "One-Click" for a shuffled selection of woods in the most popular sizes, or choose "Customize" to curate a set of your own. </p>
    </span>
    <span>
      <img alt="single crochet stitch illustrated icon" style="max-width:100px;display:block;margin:0 auto;"src="https://cdn.shopify.com/s/files/1/0166/0254/files/five-streamlines-circled-USP.png?v=1608047684"/>
      <h4 style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:5pxl;padding-top:15px;">HOOKS YOU LOVE – BUNDLED</h4>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:17px;margin-bottom:5pxl">Now it's easier than ever to make sure you – or a lucky someone – have got hand-healthy ergonomics in every size. </p>
    </span>
  </div>
</div>

<hr/>

<!--   IMAGE ROTATION + MORE INFO     -->    
<div class="sixteen columns">
  <div class="section clearfix productFeatured">
    <div class="eight columns alpha">
      <h1 style="margin-bottom:35px;letter-spacing:2px;font-weight:bold;">About Streamline Wood</h1>
      <h3>Longer Crochet Hook</h3>
        <p> We've increased both overall body length and working shaft length for our longest hooks ever; the Streamlines are a full 7" in length.</p>
      <h3>Pointier Tip</h3>
        <p> The tip of the Streamlines are less rounded than our other lines for better stitch penetration while working through projects, allowing for faster stitching.</p>
      <h3>Light as a feather, stiff as a board</h3>
        <p> Our lightest hooks ever! At about 1 oz, Streamline Wood is lighter than even our Streamline Swirls. The nature of the wood provides some grip, giving greater control over stitching. </p>
      <br/>
      <h3 style="font-weight:bold;border:none;">100% satisfaction guarantee</h3>
    </div> 

    <div class="eight columns omega" style="text-align:center;">
  <!--       GIF     -->
    <img id="streamline-image-2" alt="Handmade Crochet Hook Slideshow" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Streamline-Details-01.jpg?9967805318995867301"/>
      <script type="text/javascript">
          $(function(){
                //set frames
                var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Streamline-Details-01.jpg?9967805318995867301",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-Streamline-Details-02.jpg?9967805318995867301",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/TeakLineup.jpg?7148",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/streamline-wood-camwood-teak-ebony-us_-_1.jpeg?v=1600880300"
                             ];
                //set starting locations
                var currentFrame = 1;
                //on load update image and increase current every 100ms
                window.setInterval(function(){        
                      $("#streamline-image-2").attr("src",frames[currentFrame]);
                      currentFrame = (currentFrame + 1) % frames.length;
                  }, 2500);
          });
        </script>
   </div>
  </div>
</div>
<!--   TESTIMONIAL ONE     -->
<div class="sixteen columns">
  <div class="section clearfix">
<hr/><br/>
     <div class="eight columns alpha offset-by-four">
       <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:18px;"><i class="fa fa-fw fa-quote-left"></i> Had just ordered two of the new Streamline hooks on sale; got them Monday and started working on a scarf for my grandson for Christmas. Wow, <strong>these hooks are so lightweight and easy on the hands</strong> and wrists! <i class="fa fa-fw fa-quote-right"></i></p>
       <p style="border-left:1px solid #d3d3d3;padding-left:4px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:18px;"><strong><i class="fa fa-fw fa-user"></i> Patrice S. </strong></p>
    <p> </p>
    </div>
  </div>
</div>

{%include 'streamline-wood-set-scripts'%}
{{ 'hookSets.css' | asset_url | stylesheet_tag }}
