<div class="sixteen columns">
  <div id="tutorial-section-link">
    <span class="fake-link" data-section="crochetVideoTutorials">Crochet Hooks</span> 
    <span class="fake-link" data-section="yarnVideoTutorials">Yarn</span> 
    <span class="fake-link" data-section="accessoryVideoTutorials">Accessories</span>
  </div>

  <div class="videoTutorials">
    <div class="crochetVideoTutorials" id="crochetVideoTutorials">
      <p style="font-size:20px;"> Crochet Hooks </p>
      <div>
        <span>
          <p>Streamline Wood Hooks Unboxing</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/y_Ttbz5KLKc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Streamline Swirl Galaxy Hooks: Andromeda & Virgo</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2L8jmxHzDh4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Streamline Swirl Cookie Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/j8joVW_N97A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Streamline Swirl Cherry Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PhhvOeilnT0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Streamline Swirl Cream Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HlZG8AjkmS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Streamline Swirl Cafe Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/K9T7NCuWNn4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Yellow Odyssey Hooks</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bJEwk8SVbxM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Turquoise Odyssey Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rDK6FdozVyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Odyssey Hook Unboxing</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sszYYY3TEII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Candy Shop Gelato Hooks</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xKy1rhr1A4Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Bocote Wood Alpha Series Hook</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KEMgu1AoTg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Tunisian Hooks</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_mEPaJexnjM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
    </div>

    <div class="yarnVideoTutorials" id="yarnVideoTutorials">
      <p style="font-size:20px;"> Yarn </p>
      <div>
        <span>
          <p>Yarn Weights and Hook Sizes</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/g3K4kWV0jto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Yarn Labels</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yfu4ccSj14E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
    </div>

    <div class="accessoryVideoTutorials" id="accessoryVideoTutorials">
      <p style="font-size:20px;"> Accessories </p>
      <div>
        <span>
          <p>Leather Crochet Hook Holder</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/1DOauZqA5l0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
      <div>
        <span>
          <p>Lucet Fork</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/A-4JmeiBo2Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </span>
      </div>
    </div>

  </div>
</div>

<style>
  #tutorial-section-link {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }
  .sixteen.columns {
    width: 940px;
    margin: auto;
    text-align: center;
  }
</style>

<script type="text/javascript">
  $(function(){
    $("body").on("click touchend","#tutorial-section-link span",function(){
        var section = $(this).data("section");
          $('html, body').animate({
              scrollTop: ($("#" + section).offset().top) - 100
            }, 500);
    });
  });
</script>