<form id="checkout-table">

    <div class="buttonFirst">
        <span class="action_button oneClick">One-Click Checkout</span>
        <span class="action_button checkout_button auto-hide">Checkout</span>
        <span id='choices'> 
            <span class="palette">Flora Pink</span> is your color combination. <span class="hook">Cherry</span> 5.50mm is your hook.<br/> Or customize your kit colors below.  
        </span>
        <div class="optionImages">
        </div>
        <span id="customize-cart" class="action_button">Change your colors</span>
    </div>
    
      <div class="customizeWrapper auto-hide">
        <div class='customizeOptions'>
            <span class="backButton">Back</span>
            <span class="customizePalette chosen">select color combination</span>
            <span class="customizeHooks">select hook</span>
        </div>
    </div>
    <div class="palettesWrapper auto-hide">
    </div>
    <div class="hooksWrapper auto-hide">
    </div>

  	<!--  DIGITAL PATTERN BELOW  -->
    <input type="hidden" class="product-size-variant" data-variantid="39899945861187" value="1" min="0" max="0"/>
  
	<!-- FREE TOTE BELOW -->
    <input type="hidden" class="product-size-variant" data-variantid="32315749105731" value="1" min="0" max="0"/>
  
  
</form>
