<div class="sixteen columns">
    <div class="section clearfix">
      <hr/> 
      <div class="productWrapper">
        <div class="eight columns alpha">
            <!-- product images -->
            <img id='title-rotation' src="https://cdn.shopify.com/s/files/1/0166/0254/files/new-palette-packs-q2-2022.jpg?v=1651100506">
            <div class="wanderImages">
              <img data-color="voyage" src="https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130457.jpg?v=1651100506">
              <img data-color="allium" src="https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130611.jpg?v=1651100506">
              <img data-color="calathea" src="https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130117.jpg?v=1651100506">
              <img data-color="glacier" src="https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130848.jpg?v=1651100506">
              <img data-color="macaw" src="https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130944.jpg?v=1651100506">
            </div>
          </div>
      

        <div class="eight columns omega">
          <h1><span style="letter-spacing:1px;font-weight:bold;font-size:22px;letter-spacing:4px;">Wander Palette Packs</span> <br/>
            <span style="display:inline-block;font-size:14px;text-transform:none;line-height:15px;">
              <strong>$22.25 for 5 skeins</strong> (10% off)
              <i> - click colors for details</i></span>
            </h1>
          {%include 'product-form-wander-packs'%}
          <hr/>
          <div class="form-bylines">
            <p class="fake-link" id="totes" style="font-size:20px;"><strong>GET A FREE TOTE WITH PURCHASE!</strong></p>
            <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
            <p class="alert-byline"></p>
              <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
          </div>
        </div>
      </div>
    </div>
     
 
  <!--   GALLERY TWO     -->
   <div class="sixteen columns">
  <div class="section clearfix"><br/>
    <h1 style="text-align:center;font-weight:bold;border:none;letter-spacing:2px;">GET A <a href="https://furlscrochet.com/products/special-edition-wander-tote">FREE TOTE</a> WITH PURCHASE!</h1>
    <p class="totes" style="text-align:center;font-family:'Montserrat', sans-serif;font-size:19px;line-height:25px;margin-bottom:5pxl">1 free tote automatically added to cart for every 1 Palette Pack or Wander Palette Kit purchased. <strong>LIMIT 3 FREE TOTES.</strong></p>
    <div class="productFeatured">     
    <div class="one-third column alpha">
            <img alt="Awaken" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-tote-may-22.jpg?v=1652805355"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl"></p>
        </div>
        <div class="one-third column">
            <img alt="Retro" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-tote-palette-stark-THEE-shot.jpeg?v=1614203885"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl"></p>
        </div>
        <div class="one-third column omega">
            <img alt="Terra" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-tote-palette-muskett2.jpeg?v=1614203421"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5pxl"></p>
        </div>
      </div>
      </div>
  </div>
  </div>
<hr/>

<div class="sixteen columns">
    <div class="section clearfix productFeatured">
      <div class="eight columns alpha"><br/>
        <h1 style="text-align:center;font-weight:bold;letter-spacing:2px;">More about palette packs</h1>
      
        <h3>What's in a palette pack?</h3>
          <p>One curated bundle (e.g., "Glacier") includes 5 skeins of Wander acrylic yarn. Palette packs do not include hooks.</p>
        <h3>Does the Wander quantity discount apply?</h3>
          <p>Yes! Because the palettes are made up of 5 skeins apiece, each skein breaks down to $4.45 apiece when you buy one palette pack, or $3.95 apiece if you buy two palettes or more!</p>
        <h3>Can I buy more than one palette?</h3>
          <p>Absolutely you can!</p>
      </div> 
      
      <div class="eight columns omega">
         <img id="product-rotation" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palettes-staged-retro.jpeg?v=1613419145"/>
      <script type="text/javascript">
          $(function(){
            //set frames
            var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130117.jpg?v=1651100506",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130457.jpg?v=1651100506",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130848.jpg?v=1651100506",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130611.jpg?v=1651100506",
                          "https://cdn.shopify.com/s/files/1/0166/0254/files/20220405_130944.jpg?v=1651100506"
                             ];
            //set starting locations
            var currentFrame = 1;
            //on load update image and increase current every 100ms
            window.setInterval(function(){        
              $("#product-rotation").attr("src",frames[currentFrame]);
              currentFrame = (currentFrame + 1) % frames.length;
            }, 2000);
          });
        </script>
      </div>
    </div>
  </div>
<hr/>
      
  <div class="section clearfix">
      <p style="text-align:center;"><input type="submit" value="Choose My Palette" id="cta1" class="action_button" /></p>
  </div>
<hr/>

<!--   TESTIMONIAL ONE     -->
<div class="sixteen columns">
  <div class="section clearfix productFeatured">
  <div class="eight columns alpha offset-by-four">
  <h1 style="text-align:center;font-weight:bold;letter-spacing:2px;">What's the buzz on Wander?</h1>    
     
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:19px;"><i class="fa fa-fw fa-quote-left"></i> OMG I think this is the best feeling acrylic I've felt! <i class="fa fa-fw fa-quote-right"></i></p>
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:17px;"><strong><i class="fa fa-fw fa-user"></i> Crystal Bucholz </strong>, <a target="_blank" href="https://www.crystalized-designs.com/">Crystalized Designs</a></p>
    <p> </p><hr/>
       
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:19px;"><i class="fa fa-fw fa-quote-left"></i> Its gorgeous and so unbelievably beautiful and soft. <i class="fa fa-fw fa-quote-right"></i></p>
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:17px;"><strong><i class="fa fa-fw fa-user"></i> Torie Phillips </strong>, <a target="_blank" href="https://thedarkntwistyhousewife.com/">Dark N Twisty Housewife</a></p>
    <p> </p><hr/>
       
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:19px;"><i class="fa fa-fw fa-quote-left"></i> I just received mine in the mail yesterday! Love my colorways and it’s so soft! <i class="fa fa-fw fa-quote-right"></i></p>
   <p style="padding-left:14px;font-family:'Montserrat', sans-serif;margin:5px auto; font-size:17px;"><strong><i class="fa fa-fw fa-user"></i> Codi </strong>, <a target="_blank" href="https://www.instagram.com/knitgrit/">Knit Grit</a></p>
    <p> </p>
       
    </div>
  </div>
 </div> 
<hr/>

 <div class="section clearfix">
      <p style="text-align:center;"><input type="submit" value="Yeah, I gotta try it" id="cta1" class="action_button" /></p>
  </div>



<hr/>



<!--   YARN INFO    -->
<div class="sixteen columns">
  <div class="section clearfix productFeatured">
    <div class="eight columns alpha">
      <h1 style="text-align:center;font-weight:bold;letter-spacing:2px;">About This Yarn</h1>
      
          <h3>Fiber Info</h3>
          <p class="testimonial-text"> Machine wash cold, Cool Iron, Do not bleach</p>
          <p class="testimonial-text"> Do not tumble dry, Dry clean (except trichloroethylene)</p> 
          <hr/>
        <h5 style="text-align:center;">WORSTED</h5>
        <img style="max-width:230px;display:block;margin:0 auto;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-label-info.png?v=1612298489"/>
        <p class="testimonial-text"> 100g (3.5oz), 120 yds (109m)/skein </p>
          <p class="testimonial-text"> Medium (4) weight yarn, 5.0 hook, 5.0mm (US 8) needles suggested</p>
          <p class="testimonial-text"> <strong>Crochet:</strong> 16 sc across X 28 rows = 4 x 4in (10x10cm)</p>
          <p class="testimonial-text"> <strong>Knit:</strong> 18 sts across X 27 rows = 4 x 4in (10x10cm)</p>
    </div>
    <div class="eight columns omega">
      <p style="text-align:center;"><img class="wanderLogo" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-label-art-square.png?v=1611265205"/></p>
    </div>
    </div>
</div>
<hr/>
<div class="sixteen columns">  
    <div class="section clearfix">
        <p style="text-align:center;"><input type="submit" value="Stock me up!" id="cta1" class="action_button" /></p>
    </div>
</div>


{{ 'wanderPackStyles.css' | asset_url | stylesheet_tag }}
{%include 'wander-packs-scripts'%}

<script type="text/javascript">
       
   //Functions for redirect from index links to corresponding answers 
    $("#totes").click(function(){
    $('html, body').animate({ scrollTop: $(".totes").offset().top - 200}, 'slow');
  });

  var variantSlider = tns({
    "container": ".productVariantCarousel",
    "controlsPosition": "bottom",
    "navPosition": "bottom",
    "items": 3,
    "responsive": {
      "300": {
        "items": 1
      },
      "900": {
        "items": 3
      }
    }
  });
</script>