<div class="sixteen columns">
    <div class="section clearfix productWrapper">

        <div class="eight columns alpha">
          <div class="wanderImages">
            <img loading="lazy" data-color="autumn" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561">
            <img loading="lazy" data-color="awaken" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561">
            <img loading="lazy" data-color="daydreamer" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palette-square-crosssection-daydreamer.jpeg?v=1611156745">
            <img loading="lazy" data-color="embrace" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palette-square-crosssection-embrace.jpeg?v=1611156745">
            <img loading="lazy" data-color="hygge" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palette-square-crosssection-hygge.jpeg?v=1611156745">
            <img loading="lazy" data-color="retro" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563">
            <img loading="lazy" data-color="suncatcher" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palette-square-crosssection-SUNCATCHER.jpeg?v=1611160397">
            <img loading="lazy" data-color="sunset" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palette-square-crosssection-sunset.jpeg?v=1611156745">
            <img loading="lazy" data-color="terra" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561">
            <img loading="lazy" data-color="tidal" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
          
            <img loading="lazy" data-color="galaxy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            <img loading="lazy" data-color="interlude" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            <img loading="lazy" data-color="lichen" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            <img loading="lazy" data-color="whimsy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            <img loading="lazy" data-color="wisdom" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
          </div>

          <div class="productImageCarousel">
            <div>
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563"/>
            </div>
            <div>
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561">
            </div>
            <div>
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            </div>
            <div>
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561">
            </div>
            <div>
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561">
            </div>
          </div>
          <div class="productImageControlsWrapper">
            <div class="productImageControls" aria-label="Carousel Navigation" tabindex="0">
              <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
                <i class="fas fa-arrow-right"></i>
              </span>
            </div>
          </div>

          <div class="thumbnails product_image_col productImageCarouselThumbnails">
            <div class="two columns thumb">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563"/>
            </div>
            <div class="two columns thumb">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561">
            </div>
            <div class="two columns thumb">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
            </div>
            <div class="two columns thumb">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561">
            </div>
            <div class="two columns thumb">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561">
            </div>
          </div>
        </div>

        <div class="eight columns omega">
          <h1><span style="letter-spacing:1px;font-weight:bold;font-size:28px;">"Those Who Wander" Cowl Kit</span> <br/>
               <span class='title-mini' style="display:inline-block;">5 Skeins of Yarn + Pattern + Free Tote Bag</span><br/>
            <span style="display:inline-block;font-weight:bold;font-size:17px;color:#c5afa2;line-height:20px;">PLUS, get <a href="https://furlscrochet.com/collections/wander-kit-discount">20% off hook*</a> you add to cart with code <span style="color:black;letter-spacing:1px;">WANDERKITDISCOUNT</span></span><br/>
               <p style="font-family:'Montserrat', sans-serif;text-align:center;margin-bottom:10px;font-size:15px;letter-spacing:1px;">(MUST have kit in cart to apply discount)</p>
            </h1>
          {%include 'product-form-wander-palette-kit'%}
          <hr/>
          <div class="form-bylines">
              <p style="font-size:15px;color:#c5afa2;font-weight:bold;">*requires a K / 6.5mm hook</p>
              <p> 100% Satisfaction Guarantee <i class='fa fa-fw fa-star'></i></p>
            <p class="alert-byline"></p>
              <p style="font-weight:bold;"> <i class='fa fa-fw fa-phone'></i> QUESTIONS ORDERING? EMAIL US AT SUPPORT@FURLSCROCHET.COM</p>
          </div>
        </div>
    </div>
  
 
<div class="sixteen columns">

<!-- SLIDER -->
<!--<div id="cowl-wrapper" class="eight columns">
  <h1 style="letter-spacing:4px;border:none;margin-bottom:0px;font-weight:bold;">So many ways to Customize</h1>
   <p style="font-family:'Montserrat', sans-serif;text-align:center;margin-bottom:10px;font-size:15px;letter-spacing:1px;">Different palettes, different trims, browse just some of the possibilities:</p>
  <div class="productVariantCarousel">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563"/>
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561">
    </div>
  </div>
  <div class="productVariantControls controls" aria-label="Carousel Navigation" tabindex="0">
    <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
      <i class="fas fa-arrow-right"></i>
    </span>
  </div>
</div>
  <br/>-->
<hr/>
    
<!-- Customize Kit Gallery -->
  <div class="sixteen columns">
    <div class="section clearfix">
      <h1 style="border:none;margin-bottom:10px;font-weight:bold;">Customize your Cowl</h1>
      <div class="productFeatured">  
      <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>RETRO</strong> with fringe</p>
        </div>
        <div class="one-third column">
            <img loading="lazy" alt="ergonomic crocheting with furls odyssey" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>AWAKEN</strong> with single tassel</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" alt="beautiful gifts for crocheters" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>TIDAL</strong> with i-cord</p>
        </div>
      </div>
      </div>
   <div class="section clearfix"> 
     <div class="productFeatured">  
    <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561"/>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>TERRA</strong> with i-cord + yarn tassels</p>
        </div>
        <div class="one-third column">
            <img loading="lazy" alt="ergonomic crocheting with furls odyssey" src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>AUTUMN</strong> with no decoration</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" alt="beautiful gifts for crocheters" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-tote-palette-stark-THEE-shot.jpeg?v=1614203885"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;">OR build your own 5-skein palette from our collection of 14 different Wander colors!</p>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div> 
<hr/>
  
    <div class="section clearfix">
      <p style="text-align:center;padding-top:10px;"><input type="submit" value="Build My Cowl Kit!" id="cta1" class="action_button" /></p>
  </div>

  
    <div class="section clearfix">
      <!--<hr/>
    <h2 style="margin-bottom:35px;border-top:none;"><strong>De-stress for less</strong></h2>
      <div class="eight columns alpha">
        <h3><strong>Included in the kit:</strong></h3>
        <h3>One (1) Streamline Swirl</h3>
        <p>Go with randomized and grab a <span class="oneClickHook"></span>, or click Customize and choose your size and color.</p>
        <h3>One (1) Skein Whims Merino</h3>
        <p>Go with randomized and grab <span class="oneClickYarn"></span>, or click Customize and choose your weight and color.</p>
        <h3>Four (4) One-Skein Project Patterns</h3>
        <p>No need to choose, you get all four! The PDFs will be emailed to you after your order is complete.</p>
      </div> 
      <div class="eight columns omega">
         <img id="kit-rotation-01" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418"/>
          <script type="text/javascript">
              $(function(){
                //set frames
                var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1.jpg?v=1586799417",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1_1.jpg?v=1586803746",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"
                                 ];
                //set starting locations
                var currentFrame = 1;
                //on load update image and increase current every 100ms
                window.setInterval(function(){        
                  $("#kit-rotation-01").attr("src",frames[currentFrame]);
                  currentFrame = (currentFrame + 1) % frames.length;
                }, 2000);
              });
            </script>
        
      </div>-->
      <hr/>
    <h1 style="border:none;"><strong>KIT INCLUDES:</strong></h1>
      <div class="section clearfix productFeatured"> 
        <div class="one-third column alpha">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palettes-dice-web-square.jpeg?v=1613580440"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">5 skeins of Wander yarn</p>
               <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">Choose one of our palettes or build your own </p><hr/>
        </div>
        <div class="one-third column">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/FurlsCrochet-2021-ThoseWhoWander-Eppolite-COVER.jpg?v=1617048283"/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">Digital Download delivered right to your account</p>
              <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">K / 6.5mm hook, 250 yds Worsted </p><hr/>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-tote-palette-stark2.jpeg?v=1614203885"/><br/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">FREE Wander Tote</p>
              <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">13" x 13" cotton tote</p>
        </div>
      </div>
      
  </div>
  <hr/>
    <div class="section clearfix">
      <p style="text-align:center;padding-top:10px;"><input type="submit" value="Back to top" id="cta2" class="action_button" /></p>
  </div>

{%include 'wander-kit-scripts'%}

{{ 'wanderKitStyles.css' | asset_url | stylesheet_tag }}
{{ 'quarantineCrochet.css' | asset_url | stylesheet_tag }}

<style type="text/css">
  #cowl-wrapper h2{
    letter-spacing:4px;
  }
  #cowl-wrapper h3{
    text-align:left; 
    text-transform:uppercase;
  }
  #cowl-wrapper h4{
  text-align:center;
    font-weight:bold;
    letter-spacing:2px;
  }
  #cowl-wrapper p{
    text-align:left;
  }
  #cowl-wrapper p.title{
    font-size:18px;
    font-family:'Montserrat', sans-serif;
    margin-bottom:10px;
  }
  #cowl-wrapper .sized-image{
    max-width:90px;
    border-radius:50%;
    padding:2px;
    border:1px solid #d3d3d3;
  }
  #cowl-wrapper img {
    width:100%;
  }
  .product-form{
    display:none;
  }
  .productVariantControls {
    position: relative;
  }
  .productVariantControls .prev,
  .productVariantControls .next {
    position: absolute;
    top: -190px;
    font-size: 24px;
  }
  .productVariantControls .prev {
    left: -10%;
  }
  .productVariantControls .next {
    right: -10%;
  }
  /* Tablet-portrait (and larger)
   * Tablet-landscape (and larger) 
   * Laptops (and larger) 
   */
  @media (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
    #cowl-wrapper {
      margin-left:26%;
    }
    .productVariantControls .prev,
    .productVariantControls .next {
      top: -265px;
    }
  }
</style>

<script type="text/javascript">
  var variantSlider = tns({
    "container": ".productVariantCarousel",
    "controlsContainer": ".productVariantControls", 
    "items": 1
  });
</script>