<div class="sixteen columns">
  <div class="section clearfix productWrapper">
    <div class="eight columns alpha">
      <img loading="lazy" id='title-rotation' src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-all-square-logo_1.jpg?v=1632241831">
      <div class="wanderImages">
        <img loading="lazy" data-color="pisces" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-pisces.jpg?v=1632235014">
        <img loading="lazy" data-color="cookies" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cookie.jpg?v=1632235014">
        <img loading="lazy" data-color="virgo" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-virgo.jpg?v=1632235014">
        <img loading="lazy" data-color="taurus" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-taurus.jpg?v=1632235014">
        <img loading="lazy" data-color="supernova" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-supernova.jpg?v=1632235013">
        <img loading="lazy" data-color="cherry" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cherry.jpg?v=1632235013">
        <img loading="lazy" data-color="cream" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cream.jpg?v=1632235013">
        <img loading="lazy" data-color="cafe" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cafe.jpg?v=1632235013">
        <img loading="lazy" data-color="aries" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-aries.jpg?v=1632235013">
        <img loading="lazy" data-color="andromeda" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-andromeda.jpg?v=1632235013">
      </div>
    </div>

    <div class="eight columns omega">
      <h1><span class='title-mini' style="display:inline-block;">One Crochet Hook + 2 Skeins of Wander Yarn + 3 Crochet Patterns</span></h1>
      <span class='title-mini' style="display:inline-block;">All patterns are digital patterns only</span>
      {% include 'product-form-wander-adventure-kit' %}
    </div>
  </div>
  
 
<div class="sixteen columns">

<!-- SLIDER -->
<!--<div id="cowl-wrapper" class="eight columns">
  <h1 style="letter-spacing:4px;border:none;margin-bottom:0px;font-weight:bold;">So many ways to Customize</h1>
   <p style="font-family:'Montserrat', sans-serif;text-align:center;margin-bottom:10px;font-size:15px;letter-spacing:1px;">Different palettes, different trims, browse just some of the possibilities:</p>
  <div class="productVariantCarousel">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-retro.jpg?v=1617121563"/>
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-autumn.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-tidal.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-terra.jpg?v=1617121561">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/thosewhowander-cowl-variants-awaken.jpg?v=1617121561">
    </div>
  </div>
  <div class="productVariantControls controls" aria-label="Carousel Navigation" tabindex="0">
    <span class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="next" aria-controls="customize" tabindex="-1" data-controls="next">
      <i class="fas fa-arrow-right"></i>
    </span>
  </div>
</div>
  <br/>-->
<hr/>
    <h1 style="border:none;"><strong>KIT INCLUDES:</strong></h1>
      <div class="section clearfix productFeatured"> 
        <div class="one-third column alpha">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cookie.jpg?v=1632235014"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">2 skeins of Wander yarn</p>
               <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">Specially curated to twin with matching Streamline Swirl hook </p>
        </div>
        <div class="one-third column">
            <img loading="lazy" id="product-rotation" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-free-pattern-square-WIP.jpg?v=1632248617"/>
            <script type="text/javascript">
              $(function(){
                //set frames
                var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-free-pattern-square-WIP.jpg?v=1632248617",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/20210922_143801_1.jpg?v=1632405690",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/pxl_20210923_030538728_1.jpg?v=1632405690"];
                //set starting locations
                var currentFrame = 1;
                //on load update image and increase current every 100ms
                window.setInterval(function(){        
                  $("#product-rotation").attr("src",frames[currentFrame]);
                  currentFrame = (currentFrame + 1) % frames.length;
                }, 2000);
              });
            </script>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">Adventure Beanie Crochet Pattern (shown in Pisces Kit) - G+ / 4.50mm hook</p>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">Adventure Cowl Crochet Pattern (shown in Andromeda Kit) - L / 7.00mm hook</p>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">Adventure Socks Crochet Pattern (shown in Cafe Kit) - H /  5.00mm hook</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0166/0254/files/swirl2-03.jpg?v=1614322519"/><br/>
             <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:18px;margin-bottom:5px;margin-top:15px;letter-spacing:1px;">1 Streamline Swirl Hook</p>
              <p style="text-align:center;font-family:'Montserrat', sans-serif;font-size:15px;margin-bottom:5px;letter-spacing:1px;">Size of your choosing</p>
        </div>
      </div>
  <hr/>
<!-- Kit Gallery -->
  <div class="sixteen columns">
    <div class="section clearfix">
      <h1 style="border:none;margin-bottom:10px;font-weight:bold;">Choose from 10 Curated Kit Options</h1>
      <div class="productFeatured">  
      <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-aries.jpg?v=1632235013"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>ARIES</strong> + Pomegranate & Velvet</p>
        </div>
        <div class="one-third column">
            <img loading="lazy" alt="ergonomic crocheting with furls odyssey" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-andromeda.jpg?v=1632235013"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>ANDROMEDA</strong> + Sunrise & Tundra</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" alt="beautiful gifts for crocheters" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cream.jpg?v=1632235013"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>CREAM</strong> + Snow & Alabaster</p>
        </div>
      </div>
      </div>
   <div class="section clearfix"> 
     <div class="productFeatured">  
    <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-supernova.jpg?v=1632235013"/>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>SUPERNOVA</strong> + Midnight & Peninsula</p>
        </div>
        <div class="one-third column">
            <img loading="lazy" alt="ergonomic crocheting with furls odyssey" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cookie.jpg?v=1632235014"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>COOKIE</strong> + Obsidian & Alabaster</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" alt="beautiful gifts for crocheters" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-taurus.jpg?v=1632235014"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>TAURUS</strong> + Bergamot & Amethyst</p>
        </div>
      </div>
    </div>
    <div class="section clearfix"> 
     <div class="productFeatured">  
    <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cherry.jpg?v=1632235013"/>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>CHERRY</strong> + Pomegranate & Alabaster</p>
        </div>
        <div class="one-third column">
            <img loading="lazy" alt="ergonomic crocheting with furls odyssey" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-cafe.jpg?v=1632235013"/>
          <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>CAFE</strong> + Mahogany & Snow</p>
        </div>
        <div class="one-third column omega">
            <img loading="lazy" alt="beautiful gifts for crocheters" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-pisces.jpg?v=1632235014"/>
            <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>PISCES</strong> + Midnight & Mist</p>
        </div>
      </div>
    </div>
    <div class="section clearfix"> 
     <div class="productFeatured">  
    <div class="one-third column alpha">
            <img loading="lazy" alt="blue odyssey crochet hook from furls" src="https://cdn.shopify.com/s/files/1/0166/0254/files/adventure-kits-virgo.jpg?v=1632235014"/>
      <p style="text-align:center;font-family:'Montserrat', sans-serif;margin-bottom:15px;letter-spacing:1px;font-size:18px;"><strong>VIRGO</strong> + Midnight & Conifer</p>
        </div>
        <div class="one-third column">
        </div>
        <div class="one-third column omega">
        </div>
      </div>
    </div>
  </div>
    </div>
  </div> 
  
    <div class="section clearfix">
      <!--<hr/>
    <h2 style="margin-bottom:35px;border-top:none;"><strong>De-stress for less</strong></h2>
      <div class="eight columns alpha">
        <h3><strong>Included in the kit:</strong></h3>
        <h3>One (1) Streamline Swirl</h3>
        <p>Go with randomized and grab a <span class="oneClickHook"></span>, or click Customize and choose your size and color.</p>
        <h3>One (1) Skein Whims Merino</h3>
        <p>Go with randomized and grab <span class="oneClickYarn"></span>, or click Customize and choose your weight and color.</p>
        <h3>Four (4) One-Skein Project Patterns</h3>
        <p>No need to choose, you get all four! The PDFs will be emailed to you after your order is complete.</p>
      </div> 
      <div class="eight columns omega">
         <img id="kit-rotation-01" src="https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418"/>
          <script type="text/javascript">
              $(function(){
                //set frames
                var frames = ["https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_2.jpg?v=1586799418",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_2.jpg?v=1585927337",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1.jpg?v=1586799417",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/Coco_Crochet_Lee_1.jpg?v=1585924218",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_1_1.jpg?v=1586803746",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/hookyarncarabiner.jpg?v=1585924158",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_5.jpg?v=1586799419",
                              "https://cdn.shopify.com/s/files/1/0166/0254/files/whims-streamline-swirl-quarantine-kit-squares_-_3.jpg?v=1586799419"
                                 ];
                //set starting locations
                var currentFrame = 1;
                //on load update image and increase current every 100ms
                window.setInterval(function(){        
                  $("#kit-rotation-01").attr("src",frames[currentFrame]);
                  currentFrame = (currentFrame + 1) % frames.length;
                }, 2000);
              });
            </script>
        
      </div>-->
      
  </div>
  <hr/>
    <div class="section clearfix">
      <p style="text-align:center;padding-top:10px;"><input type="submit" value="Back to top" id="cta2" class="action_button" /></p>
  </div>

{%include 'wander-adventure-kit-scripts'%}

{{ 'wanderKitStyles.css' | asset_url | stylesheet_tag }}
{{ 'quarantineCrochet.css' | asset_url | stylesheet_tag }}