<div id="risk-reversal" class="sixteen columns landing-container">
  <h2>Risk Free Shopping</h2>
  <span class="riskFreeBlurb">100% satisfaction guarantee &bull; Free 90-day returns + exchanges <br> Free US shipping on orders over $60</span><br>
  <span class="refundBlurb">If for any reason your Furls product does not live up to your wildest fiberarts dreams, please return it with the original packaging within 90 days for a full, no-questions-asked refund.</span><br>
   <img style="max-width:200px;" src="https://cdn.shopify.com/s/files/1/0166/0254/files/04_warranty_d9f2075c-01a8-414d-8fb8-103ac1ddb757.png?v=1606508125" alt="Furls 100% satisfaction warranty"><br>
   <span class="phoneBlurb">QUESTIONS? Email us! support@furlscrochet.com</span>
</div>

{% schema %}
{
  "name": "homepageRisk",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "homepageRisk"
    }
  ]
}
{% endschema %}