<div class="homepageCategory sixteen columns">
  <h2>Shop By Category</h2>
  <div class="firstSection">
    <div class="category--box">
      <a href="https://furlscrochet.com/collections/hooks-and-needles">
        <img 
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-crochet.jpg?v=1625672724" 
          alt="Crochet Category Tile"
        >
        <span>Crochet</span>
      </a>
    </div>
    <div class="category--box">
      <a href="https://furlscrochet.com/collections/crochet-yarn">
        <img
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-yarn.jpg?v=1625672723" 
          alt="Yarn Category Tile"
        >
        <span>Yarn</span>
      </a>
    </div>
    <div class="category--box">
      <a href="/pages/gift-sets">
        <img 
          loading="lazy" 
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/8-hook-swirl-cropped.jpg?v=1620323109" 
          alt="Hook Sets Category Tile"
        >
        <span>Hook Sets</span>
      </a>
    </div>
    <div class="category--box">
      <a href="https://furlscrochet.com/collections/fiber-arts-accessories">
        <img 
          loading="lazy" 
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-accessories.jpg?v=1625672723" 
          alt="Accessories Category Tile"
        >
        <span>Accessories</span>
      </a>
    </div>
  </div>
  <div class="secondSection">
    <div class="category--box">
      <a href="https://furlscrochet.com/blogs/crochet-tutorials">
        <img 
          loading="lazy" 
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-patterns.jpg?v=1625672723" 
          alt="Patterns Category Tile"
        >
        <span>Patterns</span>
      </a>
    </div>
    <div class="category--box">
      <a href="https://furlscrochet.com/collections/leather-hook-clutches">
        <img 
          loading="lazy" 
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-leather.jpg?v=1625672723" 
          alt="Leather Category Tile"
        >
        <span>Leather</span>
      </a>
    </div>
    <div class="category--box">
      <a href="https://furlscrochet.com/collections/hook-stands">
        <img 
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-stands.jpg?v=1625672723"
          alt="Stands Category Tile"
        >
        <span>Stands</span>
      </a>
    </div>
    <div class="category--box">
      <a href="/pages/wander-palette-packs">
        <img 
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palettes-web-square-nine.jpg?v=1625771793"
          alt="Palette Packs Category Tile"
        >
        <span>Palette Packs</span>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "homepageCategory",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "homepageCategory"
      }
    ]
  }
{% endschema %}
