<div class="homepageCategory sixteen columns">
  <h2>Shop By Category</h2>
  <div class="firstSection">
    <span>
      <a href="https://furlscrochet.com/collections/hooks-and-needles">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-crochet.jpg?v=1625672724" alt="Crochet Category Tile"><br>
        <span>Crochet</span>
      </a>
    </span><br>
    <span>
      <a href="https://furlscrochet.com/collections/crochet-yarn">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-yarn.jpg?v=1625672723" alt="Yarn Category Tile"><br>
        <span>Yarn</span>
      </a>
    </span><br>
    <span>
      <a href="/pages/gift-sets">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/8-hook-swirl-cropped.jpg?v=1620323109" alt="Hook Sets Category Tile"><br>
        <span>Hook Sets</span>
      </a>
    </span><br>
    <span>
      <a href="https://furlscrochet.com/collections/fiber-arts-accessories">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-accessories.jpg?v=1625672723" alt="Accessories Category Tile">
        <span>Accessories</span>
      </a>
    </span>
  </div>
  <div class="secondSection">
    <span>
      <a href="https://furlscrochet.com/blogs/crochet-tutorials">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-patterns.jpg?v=1625672723" alt="Patterns Category Tile"><br>
        <span>Patterns</span>
      </a>
    </span><br>
    <span>
      <a href="https://furlscrochet.com/collections/leather-hook-clutches">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-leather.jpg?v=1625672723" alt="Leather Category Tile"><br>
        <span>Leather</span>
      </a>
    </span><br>
    <span>
      <a href="https://furlscrochet.com/collections/hook-stands">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/icons-square-stands.jpg?v=1625672723" alt="Stands Category Tile"><br>
        <span>Stands</span>
      </a>
    </span><br>
    <span>
      <a href="/pages/wander-palette-packs">
        <img src="https://cdn.shopify.com/s/files/1/0166/0254/files/wander-palettes-web-square-nine.jpg?v=1625771793" alt="Palette Packs Category Tile"><br>
        <span>Palette Packs</span>
      </a>
    </span>
  </div>
</div>

{% schema %}
{
  "name": "homepageCategory",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "homepageCategory"
    }
  ]
}
{% endschema %}
